<template>
    <section class="betterClothing">
        <div class="container betterClothing__wrap">
            <div class="betterClothing__wrap__left">
                <h6>The best clothes for surfing and other water sports</h6>

                <div class="betterClothing__wrap__left__detailsText">
                    <div class="item">
                        <p class="head">Certified item</p>
                        <p>All of our products are certified and manufactured in accordance with</p>
                    </div>

                    <div class="item">
                        <p class="head">Worldwide shipping</p>
                        <p>All of our products are certified and manufactured in accordance with</p>
                    </div>
                    <div class="item">
                        <p class="head">Unique design</p>
                        <p>All of our products are certified and manufactured in accordance with</p>
                    </div>
                    <div class="item">
                        <p class="head">Sun protection SPF 50+</p>
                        <p>All of our products are certified and manufactured in accordance with</p>
                    </div>
                    <div class="item">
                        <p class="head">Accessories from SBS</p>
                        <p>All of our products are certified and manufactured in accordance with</p>
                    </div>
                    <div class="item">

                        <p class="head">Tailoring to your measurements</p>
                        <p>All of our products are certified and manufactured in accordance with</p>
                    </div>









                </div>

            </div>
            <div class="betterClothing__wrap__right">
                <div class="betterClothing__wrap__right__text">
                    <p>People are like waves - unique in nature.</p> 
                    <p>Our Lycras are produced in limited quantities, this helps to emphasize your individuality.</p>
                    <p>Catch your wave with WaveHarmony swimwear.</p>  
                </div>

                <img src="./sectionsImg/Shadow_pussy.png" alt="">
            </div>
        </div>
    </section>
</template>