@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


*{
    a{
        text-decoration: none;
    }

    h1,h2,h3,h4{
        margin: 0;
    }

    font-family: 'Open Sans', sans-serif;
}


.container{
    max-width: 1700px;
    margin: 0 auto;
}

header{
    background:linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%),url(../img/HeaderPhone.png);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1920px;
    min-height: 1573px;
}

.header__wrap{
    padding-top: 58px;
    &__top{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        align-items: center;
        &__startText{
            & span{
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                letter-spacing: 0.01em;
                text-transform: capitalize;
                color: #FFFFFF;
                cursor: pointer;
                
            }

            
        }

        &__centerText{
            margin-left: 35%;
            & span{
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF;
                margin-left: 50px;
                cursor: pointer;
                transition: 1s;
                display: inline-block;
            }

            & span:first-child{
                margin: 0;
            }

            & span:hover{
                transform: scale(1.5);
            }
            
        }

        &__endText{
            margin-left: 50%;
            & span{
                font-weight: 400;
                font-size: 17px;
                line-height: 23px;
                color: #FFFFFF;
                margin-left: 18px;
                opacity: 0.5;
                cursor: pointer;
                transition: 1s;
                display: inline-block;
            }

            & span:hover{
                transform: scale(1.5);
            }
            
        }
    }

    &__center{
        position: relative;
        margin-top: 196px;
        &__heading{
            display: flex;
            justify-content: center;
            align-items: center;
            &__line{
                height: 2px;
                width: 72px;
                background: #FFC178;
            }

            & span{
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 6px;
                text-transform: uppercase;
                color: #FFC178;
                margin-left: 32px;
                display: block;
                
            }

            
        }

        &__mainText{
            margin-top: 40px;
            margin-left: 34%;
            & h1{
                font-weight: 700;
                font-size: 96px;
                line-height: 100px;
                text-transform: capitalize;
                color: #FFFFFF;
            }

            & p{
                font-weight: 400;
                font-size: 76px;
                line-height: 100px;
                text-transform: capitalize;
                color: #FFFFFF;
                margin: 0;
                max-width: 950px;
            }
        }

        &__leftIcons{
            position: absolute;
            left: -2%;
            top: 25%;
            &__wrapper{
                display: flex;
                flex-direction: column;
                & span{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;
                    color: #FFFFFF;
                    display: block;
                    transform: rotate(90deg);
                    cursor: pointer;
                }

                & img{
                    width: 25%;
                    margin-left: 30px;
                    margin-top: 25px;
                    cursor: pointer;
                }

                & img:nth-child(2){
                    margin-top: 50px;
                }

                & img:last-child{
                    width: 15%;
                }


            }
        }

        &__bottom{
            display: flex;
            justify-content: center;
            margin-top: 126px;
            cursor: pointer;
            transition: 1s;
            & span{
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF;
            }

            

            & img{
                margin-left: 9px;
            }
        }

        &__bottom:hover{
            transform: scale(1.5);
        }
    }
}


main{
    background:#000000;
    max-width: 1920px;
    margin: 0 auto;
    
}

.indonesiaTravel{
    

    &__wrap{
        &__top{
            display: flex;
            justify-content: space-between;
            margin-left: 4%;
            margin-right: 6%;
            &__left{
                margin-left: 3%;
                margin-top: -5%;
            }
            &__right{
                margin-left: 10%;
                &__heading{
                    padding-top: 50px;
                    display: flex;
                    align-items: center;
                    & .line{
                        width: 72px;
                        height: 2px;
                        background: #FBD784;
                    }
    
                    & span{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        margin-left: 24px;
                        letter-spacing: 6px;
                        text-transform: uppercase;
                        color: #FBD784;
                    }
                }

                &__content{
                    & h3{
                        font-weight: 700;
                        font-size: 64px;
                        line-height: 87px;
                        color: #FFFFFF;
                        margin-top: 27px;
                        max-width: 555px;
                    }

                    & p{
                        margin: 0;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 32px;
                        color: #FFFFFF;
                        margin-top: 30px;
                        max-width: 632px;
                    }
                }

                &__link{
                    transition: 1s;
                    cursor: pointer;
                    margin-top: 27px;
                    & span{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        color: #FBD784;
                    }

                    & img{
                        margin-left: 9px;
                    }


                }

                &__link:hover{
                    transform: scale(1.5);
                }
                
            }
        }

        &__center{
            background: url(../img/CenterPhone.png);
            background-position: center;
            min-height: 985px;
            background-repeat: no-repeat;
            margin: 0 auto;
            margin-top: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &__heading{
                padding-top: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                & .lineLeft{
                    height: 2px;
                    width: 72px;
                    background: #FBD784;
                }

                & span{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 6px;
                    text-transform: uppercase;
                    color: #FBD784;
                    padding: 0 29px 0 29px;
                }

                & .lineRight{
                    height: 2px;
                    width: 72px;
                    background: #FBD784;
                }
            }

            &__text{
                text-align: center;
                margin-bottom: 39px;
                & h3{
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 87px;
                    text-align: center;
                    color: #FFFFFF;
                    max-width: 705px;
                    margin: 0 auto;
                }

                & p{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 32px;
                    text-align: center;
                    color: #FFFFFF;
                    max-width: 934px;
                }
            }

            &__bottomLink{
                display: flex;
                align-items: center;
                transition: 1s;
                cursor: pointer;
                & span{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    color: #FBD784;
                }

                & img{
                    margin-left: 9px;
                }
            }

            &__bottomLink:hover{
                transform: scale(1.5);
            }

            &__absoluteButtons{
                & img:first-child{
                    position: absolute;
                    top: 50%;
                    left: 10%;
                }

                & img:last-child{
                    position: absolute;
                    top:50%;
                    right: 10%;
                }
            }
        }

        &__bottom{
            display: flex;
            justify-content: space-between;
            padding-top: 225px;
            &__left{
                margin-left: 7%;
                padding-top: 8%;
                &__heading{
                    display: flex;
                    align-items: center;
                    & .line{
                        width: 72px;
                        height: 2px;
                        background: #FBD784;
                    }

                    & span{
                        margin-left: 24px;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        letter-spacing: 6px;
                        text-transform: uppercase;
                        color: #FBD784;
                    }
                }

                &__text{
                    & h3{
                        font-weight: 700;
                        font-size: 64px;
                        line-height: 87px;
                        color: #FFFFFF;
                        max-width: 555px;
                        margin-top: 27px;
                    }

                    & p{
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        color: #FFFFFF;
                        max-width: 632px;
                        margin-top: 27px;
                    }
                }

                &__linkBottom{
                    margin-top: 27px;
                    transition: 1s;
                    cursor: pointer;
                    & span{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        color: #FBD784;
                        margin-right: 9px;
                    }
                }

                &__linkBottom:hover{
                    transform: translateX(100%);
                }
            }

            &__right{
                margin-right: 7%;
            }
        }

        

        
    }
}

footer{
    background:#000000;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 262px;
}

.footer__wrap{
    &__top{
        border-bottom: 2px solid #424242;
        padding-bottom: 47px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__left{
            & h3{
                font-weight: 700;
                font-size: 48px;
                line-height: 65px;
                letter-spacing: 0.01em;
                text-transform: capitalize;
                color: #FFFFFF;
            }
        }

        &__right{
            & span{
                font-weight: 400;
                font-size: 22px;
                line-height: 29px;
                letter-spacing: -0.3px;
                color: #FFFFFF;
                margin-right: 55px;
            }

            & a{
                padding: 24px 75px 23px 70px;
                font-weight: 700;
                font-size: 17px;
                line-height: 22px;
                color: #000000;
                background: #FFA343;
                border-radius: 8px;
                transition: 1s;
                display: inline-block;
            }

            & a:hover{
                filter: brightness(150%);
                transform: scale(1.2);
            }
        }
    }

    &__main{
        padding-top: 55px;
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
        &__content:first-child{
            margin-top: 0;
            margin-left: 0;
            & h3{
                font-weight: 700;
                font-size: 36px;
                line-height: 49px;
                letter-spacing: -0.3px;
                color: #FFFFFF;
                max-width: 400px;
                margin-bottom: 50px;
                padding-top: 0;
            }

            & form{
                display: flex;
                ::-webkit-input-placeholder{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: -0.204545px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                }

                & input{
                    border-bottom: #303030;
                    background: #000000;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    padding-right: 25%;
                }

                & a{
                    padding: 28px 29px 27px 30px;
                    background: #FFA343;
                    border-radius: 8px 8px 0px 0px;
                    transition: 1s;
                }

                & a:hover{
                    filter: brightness(150%);
                }
            }
        }

        &__content{
            margin-top: 5%;
            margin-left: 40%;
            & h3{
                font-weight: 700;
                font-size: 20px;
                line-height: 0px;
                letter-spacing: -0.231818px;
                color: #FFD1A0;
                padding-top: 15%;
            }

            & span{
                font-weight: 400;
                font-size: 19px;
                line-height: 0px;
                letter-spacing: -0.204545px;
                color: #FFFFFF;
                display: block;
                margin-top: 45px;
            }
        }

        &__content:nth-child(3){
            margin-left: 60%;
        }

        &__content:nth-child(4){
            margin-left: 30%;
            margin-top: 0;
        }
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 136px;
        &__left{
            width: 100%;
            & span{
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: -0.204545px;
                color: #FFFFFF;
                margin-left: 5%;
            }

            & span:last-child{
                margin-left: 50px;
            }
        }

        &__right{
            display: flex;
            align-items: center;
            margin-right: 3%;
            & img{
                margin-left: 60px;
            }
        }
    }

    &__copyright{
        margin-top:157px;
        display: flex;
        justify-content: center;
        padding-bottom: 118px;
        & span{
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.5;
        }
    }
}