.welcome {
    background: #161D27;
    max-width: 1440px;
    margin: 0 auto;

    &__wrap {
        display: flex;
        gap: 62px;
        justify-content: space-between;

        &__images {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            padding-top: 140px;
            justify-content: flex-start;
        }

        &__content {
            padding-top: 150px;
            padding-bottom: 140px;
            margin-top: 0.5%;

            & h2 {
                font-family: 'Cormorant Garamond';
                font-style: normal;
                font-weight: 400;
                font-size: 45px;
                line-height: 58px;
                letter-spacing: 0.4px;
                text-transform: capitalize;
                color: #FFFFFF;
                max-width: 549px;
            }

            & h2::after {
                content: '';
                background: url(../img/paragraph.svg);
                display: block;
                width: 95px;
                height: 44px;
            }

            & p {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0.4px;
                color: #D7D7D7;
                margin-top: 43px;
                max-width: 825px;
            }

            & span {
                font-family: 'Cormorant Garamond';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 52px;
                letter-spacing: 0.4px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: 32px;
            }

            & span::before {
                content: '';
                background: url(../img/peter.svg);
                background-repeat: no-repeat;
                display: inline-block;
                width: 90px;
                height: 90px;
            }

            &__reputation {
                margin-top: 45px;
                display: flex;
                gap: 30px;

                &__item {
                    cursor: pointer;

                    & .reputationWhite {
                        font-family: 'Outfit';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 29px;
                        letter-spacing: 0.4px;
                        color: #D7D7D7;
                        display: flex;
                        gap: 20px;
                        margin: 0;
                    }
                }

                & .item--one {
                    padding: 36px 50px;
                    background: #3B434E;

                    & .reputationWhite::before {
                        content: '';
                        background: url(../img/note.svg);
                        background-repeat: no-repeat;
                        width: 59px;
                        height: 58px;
                        display: block;
                    }
                }

                & .item--two {
                    display: flex;
                    gap: 20px;
                    padding: 34px 50px;
                    background: #D1B06B;

                    & .years {
                        margin-top: 0;
                        background: #161D27;
                        border-radius: 5px;
                        font-family: 'Outfit';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 39px;
                        letter-spacing: 0.4px;
                        color: #FFFFFF;
                        padding: 9px 15px;
                    }

                    & .blackText {
                        font-family: 'Outfit';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 29px;
                        letter-spacing: 0.4px;
                        color: #1F2732;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.practice {
    background: #161D27;
    max-width: 1440px;
    margin: 0 auto;

    &__heading {
        display: flex;
        justify-content: space-between;
        padding-top: 130px;
        align-items: center;

        & h3 {
            font-family: 'Cormorant Garamond';
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 58px;
            letter-spacing: 0.4px;
            text-transform: capitalize;
            color: #FFFFFF;
            max-width: 365px;
        }

        & h3::after {
            content: '';
            background: url(../img/paragraph.svg);
            background-repeat: no-repeat;
            width: 95px;
            height: 44px;
            display: block;
            margin-top: 11px;

        }

        & p {
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.4px;
            color: #D7D7D7;
            max-width: 660px;
        }
    }

    &__lawCards {
        padding-top: 60px;
        padding-bottom: 140px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        & article {
            box-sizing: border-box;
            max-width: 430px;
            background: #1F2732;
            padding: 55px 50px 70px 50px;

            & h4 {
                font-family: 'Cormorant Garamond';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 56px;
                letter-spacing: 0.4px;
                color: #FFFFFF;
            }

            & p {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0.4px;
                color: #D7D7D7;
                max-width: 330px;
                margin-top: 8px;
                border-bottom: 1px solid #4E555F;
                padding-bottom: 28px;
            }


            & .card__bottom {
                margin-top: 53px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & a {
                    padding: 13px 42px;
                    background: #161D27;
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 0.4px;
                    text-transform: capitalize;
                    color: #FFFFFF;
                }

                & a:hover{
                    transition: 1s;
                    color: black;
                    background: #D1B06B;
                }

            }
        }
    }
}

.advantages {
    background: #FFFFFF;

    &__top {
        display: flex;
        flex-direction: column;

        & h5 {
            font-family: 'Cormorant Garamond';
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 54px;
            text-align: center;
            letter-spacing: 0.4px;
            text-transform: capitalize;
            color: #161D27;
            max-width: 402px;
            padding-top: 124px;
            align-self: center;
            display: flex;
            flex-direction: column;
            gap: 11px;
            align-items: center;
        }

        & h5::after {
            content: '';
            background: url(../img/iconCross.svg);
            background-repeat: no-repeat;
            width: 95px;
            height: 44px;
            display: block;
        }

        & p {
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.4px;
            color: #909090;
            max-width: 635px;
            align-self: center;
            margin-top: 40px;
        }

        & .trust {
            border-bottom: 1px solid #D7D7D7;
            padding-bottom: 81px;
            display: grid;
            grid-template-columns: 33% 34% 32%;
            align-items: center;
            margin-top: 60px;

            &__item {
                display: flex;
                gap: 20px;
                align-items: center;

                &__statistic {
                    border: 2px solid #D1B06B;
                    max-width: 118px;
                    min-height: 120px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    & span {
                        font-family: 'Outfit';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 39px;
                        text-align: center;
                        letter-spacing: 0.4px;
                        color: #1F2732;
                    }
                }

                &__text {
                    & .trustText {
                        font-family: 'Cormorant Garamond';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 42px;
                        letter-spacing: 0.4px;
                        color: #1F2732;
                        margin: 0;
                        text-align: start;
                    }

                    & .trustMiniText {
                        font-family: 'Outfit';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 32px;
                        letter-spacing: 0.4px;
                        text-transform: capitalize;
                        color: #909090;
                        text-align: start;
                        max-width: 208px;
                        display: block;
                        text-align: start;
                    }
                }
            }

            & .item--one {
                & .trust__item__statistic {
                    padding: 0px 25px 0px 25px;
                }
            }

            & .item--two {
                & .trust__item__statistic {
                    padding: 0px 33px 0px 33px;
                }
            }

            & .item--three {
                background: url(../img/Item3Background.png);
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                max-width: 433px;

                & .Quantity {
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 39px;
                    letter-spacing: 0.4px;
                    color: #FFFFFF;
                    align-self: flex-start;
                    margin-left: 50px;
                }

                & .Cases {
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                    letter-spacing: 0.4px;
                    color: #FFFFFF;
                    max-width: 163px;
                    align-self: flex-start;
                    margin-top: 10px;
                    text-align: start;
                    margin-left: 50px;
                    padding-bottom: 39px;
                }
            }
        }

    }

    &__bottom {
        display: flex;
        flex-direction: column;
        & h5 {
            margin-top: 90px;
            font-family: 'Cormorant Garamond';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 60px;
            letter-spacing: 0.4px;
            text-transform: capitalize;
            color: #161D27;
            display: flex;
            gap: 40px;
            align-items: center;
            align-self: center;
        }

        & h5::before{
            content: '';
            background: url(../img/iconCross.svg);
            background-repeat: no-repeat;
            width: 95px;
            height: 44px;
            display: inline-block;
        }

        & h5::after{
            content: '';
            background: url(../img/iconCross.svg);
            background-repeat: no-repeat;
            width: 95px;
            height: 44px;
            display: inline-block;
        }

        &__brands{
            display: flex;
            align-items: center;
            gap: 140px;
            margin-top: 50px;
            padding-bottom: 130px;
            justify-content: center;
        }
    }
}