.welcome {
  background: #161D27;
  max-width: 1440px;
  margin: 0 auto;
}
.welcome__wrap {
  display: flex;
  gap: 62px;
  justify-content: space-between;
}
.welcome__wrap__images {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 140px;
  justify-content: flex-start;
}
.welcome__wrap__content {
  padding-top: 150px;
  padding-bottom: 140px;
  margin-top: 0.5%;
}
.welcome__wrap__content h2 {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
  max-width: 549px;
}
.welcome__wrap__content h2::after {
  content: "";
  background: url(../img/paragraph.svg);
  display: block;
  width: 95px;
  height: 44px;
}
.welcome__wrap__content p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
  margin-top: 43px;
  max-width: 825px;
}
.welcome__wrap__content span {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}
.welcome__wrap__content span::before {
  content: "";
  background: url(../img/peter.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 90px;
  height: 90px;
}
.welcome__wrap__content__reputation {
  margin-top: 45px;
  display: flex;
  gap: 30px;
}
.welcome__wrap__content__reputation__item {
  cursor: pointer;
}
.welcome__wrap__content__reputation__item .reputationWhite {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
  display: flex;
  gap: 20px;
  margin: 0;
}
.welcome__wrap__content__reputation .item--one {
  padding: 36px 50px;
  background: #3B434E;
}
.welcome__wrap__content__reputation .item--one .reputationWhite::before {
  content: "";
  background: url(../img/note.svg);
  background-repeat: no-repeat;
  width: 59px;
  height: 58px;
  display: block;
}
.welcome__wrap__content__reputation .item--two {
  display: flex;
  gap: 20px;
  padding: 34px 50px;
  background: #D1B06B;
}
.welcome__wrap__content__reputation .item--two .years {
  margin-top: 0;
  background: #161D27;
  border-radius: 5px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  padding: 9px 15px;
}
.welcome__wrap__content__reputation .item--two .blackText {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.4px;
  color: #1F2732;
  margin: 0;
}

.practice {
  background: #161D27;
  max-width: 1440px;
  margin: 0 auto;
}
.practice__heading {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  align-items: center;
}
.practice__heading h3 {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
  max-width: 365px;
}
.practice__heading h3::after {
  content: "";
  background: url(../img/paragraph.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 44px;
  display: block;
  margin-top: 11px;
}
.practice__heading p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
  max-width: 660px;
}
.practice__lawCards {
  padding-top: 60px;
  padding-bottom: 140px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.practice__lawCards article {
  box-sizing: border-box;
  max-width: 430px;
  background: #1F2732;
  padding: 55px 50px 70px 50px;
}
.practice__lawCards article h4 {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 56px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.practice__lawCards article p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
  max-width: 330px;
  margin-top: 8px;
  border-bottom: 1px solid #4E555F;
  padding-bottom: 28px;
}
.practice__lawCards article .card__bottom {
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.practice__lawCards article .card__bottom a {
  padding: 13px 42px;
  background: #161D27;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.practice__lawCards article .card__bottom a:hover {
  transition: 1s;
  color: black;
  background: #D1B06B;
}

.advantages {
  background: #FFFFFF;
}
.advantages__top {
  display: flex;
  flex-direction: column;
}
.advantages__top h5 {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #161D27;
  max-width: 402px;
  padding-top: 124px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
}
.advantages__top h5::after {
  content: "";
  background: url(../img/iconCross.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 44px;
  display: block;
}
.advantages__top p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #909090;
  max-width: 635px;
  align-self: center;
  margin-top: 40px;
}
.advantages__top .trust {
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: 81px;
  display: grid;
  grid-template-columns: 33% 34% 32%;
  align-items: center;
  margin-top: 60px;
}
.advantages__top .trust__item {
  display: flex;
  gap: 20px;
  align-items: center;
}
.advantages__top .trust__item__statistic {
  border: 2px solid #D1B06B;
  max-width: 118px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.advantages__top .trust__item__statistic span {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #1F2732;
}
.advantages__top .trust__item__text .trustText {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.4px;
  color: #1F2732;
  margin: 0;
  text-align: start;
}
.advantages__top .trust__item__text .trustMiniText {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #909090;
  text-align: start;
  max-width: 208px;
  display: block;
  text-align: start;
}
.advantages__top .trust .item--one .trust__item__statistic {
  padding: 0px 25px 0px 25px;
}
.advantages__top .trust .item--two .trust__item__statistic {
  padding: 0px 33px 0px 33px;
}
.advantages__top .trust .item--three {
  background: url(../img/Item3Background.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  max-width: 433px;
}
.advantages__top .trust .item--three .Quantity {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  align-self: flex-start;
  margin-left: 50px;
}
.advantages__top .trust .item--three .Cases {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  max-width: 163px;
  align-self: flex-start;
  margin-top: 10px;
  text-align: start;
  margin-left: 50px;
  padding-bottom: 39px;
}
.advantages__bottom {
  display: flex;
  flex-direction: column;
}
.advantages__bottom h5 {
  margin-top: 90px;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #161D27;
  display: flex;
  gap: 40px;
  align-items: center;
  align-self: center;
}
.advantages__bottom h5::before {
  content: "";
  background: url(../img/iconCross.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 44px;
  display: inline-block;
}
.advantages__bottom h5::after {
  content: "";
  background: url(../img/iconCross.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 44px;
  display: inline-block;
}
.advantages__bottom__brands {
  display: flex;
  align-items: center;
  gap: 140px;
  margin-top: 50px;
  padding-bottom: 130px;
  justify-content: center;
}/*# sourceMappingURL=style400.css.map */