.footer__wrap {
    padding-top: 120px;

    &__top {
        background: #F8F8F8;
        padding: 30px 0px;
        display: grid;
        grid-template-columns: 71% 24% 5%;

        & p {
            font-family: 'Futura PT';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            color: #2C2C2C;
            display: flex;
            align-items: center;

        }

        & p::before {
            content: '';
            background-image: url(../img/letterlove.png);
            background-repeat: no-repeat;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 3%;
        }

        .mailField {
            padding: 16px;
            background: #FFFFFF;
            border: 1px solid #E3E3E3;
            border-radius: 15px;
            font-family: 'Futura PT';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
        }

        button {
            padding: 20px;
            background: linear-gradient(90deg, #21A5B5 0%, #71B2B4 100%);
            border-radius: 15px;
            color: #FFFFFF;
            border: none;
            margin-left: 15px;
            cursor: pointer;
        }
    }

    &__bottom {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin-top: 80px;

        &__category {
            cursor: pointer;
            display: flex;
            flex-direction: column;

            & h5 {
                font-family: 'Futura PT';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 140%;
                color: #2C2C2C;
                margin-bottom: 25px;
            }

            & a {
                font-family: 'Futura PT';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #444444;
                margin-bottom: 10px;
            }

            & a:hover{
                transition: 1s;
                color: #F93C00;
            }

            & span {
                cursor: pointer;
                font-family: 'Futura PT';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #444444;
                margin-bottom: 10px;
            }

            & .delivery {
                display: flex;
                align-items: center;
            }

            & .delivery::after {
                content: '';
                background-image: url(../img/delivery_icon.svg);
                background-repeat: no-repeat;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-left: 10px;

            }

            & .gift {
                display: flex;
                align-items: center;
            }

            & .gift::after {
                content: '';
                background-image: url(../img/gift_icon.svg);
                background-repeat: no-repeat;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-left: 5px;
            }

            & .saleOrange {
                color: #F93C00;
            }

            & p {
                font-family: 'Futura PT';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: #444444;
            }

            & .phoneNumber {
                color: #00cccc;
                margin-top: 10px;
            }

            & .socialMedia {
                margin-top: 29px;
                margin-bottom: 29px;
                display: flex;
                gap: 15px;
            }

            & .contactsText {
                font-family: 'Futura PT';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #848484;
                max-width: 235px;
            }
        }

        & .category--contacts {
            justify-self: end;
        }

        & .category--oftenFind {
            justify-self: center;
        }
    }
}