@import url(../header/header.scss);
@import url(../footer/footer.scss);
@import url(../catalog/catalog.scss);
@import url(../itemCard/itemCard.scss);
@import url(../404//404style.scss);

@font-face {
    font-family: 'Futura PT';
    src: url(../font/FuturaPT-Medium.ttf);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

* {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
    }
}

.main {
    background: white;
    padding-top: 46px;
    max-width: 1920px;
    margin: 0 auto;

    & .intro {
        position: relative;
        min-height: 700px;
        background: linear-gradient(158.72deg, #CFAFFF 0%, #A6C6D1 100%);

        &__wrap {
            &__content {
                position: relative;
                padding-top: 160px;

                &__heading {
                    position: relative;

                    & h1 {
                        font-family: 'Futura PT';
                        font-style: normal;
                        font-weight: 450;
                        font-size: 90px;
                        line-height: 115px;
                        color: #FFFFFF;
                    }

                    & img {
                        position: absolute;
                        bottom: 30%;
                    }
                }

                & p {
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 34px;
                    line-height: 140%;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                }

                & a {
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 450;
                    font-size: 20px;
                    line-height: 100%;
                    color: #FFFFFF;
                    padding: 16px 30px 18px 30px;
                    background: transparent;
                    border: 1px solid #FFFFFF;
                    border-radius: 15px;
                    transition: 5s;
                    justify-content: center;
                    align-items: center;
                    max-width: 200px;
                    display: flex;
                }

                & a:hover {
                    background: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%);
                    transition: 1s;
                }

                &__toggles {
                    margin-top: 129px;

                    & .toggle {
                        cursor: pointer;
                        width: 15px;
                        height: 6px;
                        background: rgba(255, 255, 255, 0.25);
                        border-radius: 2px;
                        margin-right: 10px;
                        display: inline-block;
                    }

                    & .toggle--white {
                        background: #FFFFFF;
                    }
                }

                & .center {
                    position: absolute;
                    left: 35%;
                    top: 0;
                }

                & .right {
                    position: absolute;
                    right: 0;
                    top: 10%;
                }
            }
        }

        & .wave {
            position: absolute;
            bottom: 0;
            background: transparent;
        }


    }

    & .popModels {
        background: white;

        &__wrap {

            background: white;

            & h3 {
                font-family: 'Futura PT';
                font-style: normal;
                font-weight: 450;
                font-size: 44px;
                line-height: 140%;
                color: #2C2C2C;
            }

            &__content {
                display: flex;
                align-items: center;

                & p {
                    margin-left: 6px;
                    margin-right: 39%;
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 140%;
                    color: #444444;
                }

                & button {
                    padding: 20px;
                    background: #FFFFFF;
                    border-radius: 15px;
                    border: 2px solid #21A5B5;
                    margin-right: 15px;
                    cursor: pointer;
                }

                & a {
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 450;
                    font-size: 20px;
                    line-height: 100%;
                    background: #FFFFFF;
                    padding: 16px 30px;
                    border: 1px solid #21A5B5;
                    border-radius: 15px;
                    color: #21A5B5;
                    margin-left: 270px;
                    transition: 1s;
                }

                & a:hover {
                    background: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%);
                    color: white;
                }
            }

            &__itemCards {
                margin-top: 60px;
                display: flex;
                gap: 1%;
                flex-wrap: wrap;

                & article {
                    position: relative;

                    & img {
                        background: #F8F8F8;
                    }

                    & .heart {
                        position: absolute;
                        right: 5%;
                        top: 5%;
                    }

                    & p {
                        font-family: 'Futura PT';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 140%;
                        color: #2C2C2C;
                        margin-top: 25px;
                    }

                    & span {
                        font-family: 'Futura PT';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        color: #2C2C2C;
                    }

                    & .cardSizes {
                        & .size {
                            font-family: 'Futura PT';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;
                            color: #2C2C2C;
                            border-right: 1px solid #E3E3E3;
                            padding-right: 7px;
                            margin-left: 7px;
                        }

                        & .size:first-child {
                            margin: 0;
                        }

                        & .size:last-child {
                            border: none;
                        }
                    }

                    ;
                }
            }



        }
    }

    & .trust {
        padding-top: 230px;
        background: white;
        padding-bottom: 120px;

        &__wrap {
            position: relative;

            & .pink {
                position: absolute;
                background: rgba(249, 93, 149, 0.7);
                filter: blur(125px);
                left: 0;
                width: 200px;
                height: 200px;
                right: 23%;
                top: 16%;
                left: auto;
            }

            & .blue {
                position: absolute;
                background: rgba(93, 207, 249, 0.7);
                filter: blur(125px);
                right: 0;
                height: 550px;
                width: 100px;
                right: 1%;
                top: 11%;
            }

            & .blueTwo {
                position: absolute;
                background: rgba(93, 207, 249, 0.7);
                filter: blur(125px);
                height: 100px;
                width: 100px;
                bottom: -10%;
                right: 30%;
            }


            &__heading {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & h4 {
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 450;
                    font-size: 44px;
                    line-height: 140%;
                    color: #2C2C2C;
                }

                & a {
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 450;
                    font-size: 20px;
                    line-height: 100%;
                    background: #FFFFFF;
                    padding: 16px 30px;
                    border: 1px solid #21A5B5;
                    border-radius: 15px;
                    color: #21A5B5;
                    transition: 1s;
                }

                & a:hover {
                    background: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%);
                    color: white;
                }
            }

            &__reginaFamous {
                display: flex;
                margin-top: 60px;

                & .miniCards {
                    display: flex;
                    gap: 20px;
                    margin-right: 40px;

                    &__images {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        align-items: flex-start;
                    }

                    &__scroll {
                        background: #F0F0F0;
                        border-radius: 4px;
                        max-width: 10px;
                        min-height: 510px;
                        position: relative;

                        & .scrollslider {
                            background: #CFCFCF;
                            border-radius: 2px;
                            width: 4px;
                            min-height: 60px;
                            position: absolute;
                            left: 25%;
                            top: 2%;
                        }
                    }

                    &__scroll::after {
                        content: '';
                        background: url(./sections/sectionsImg/scrollarrowdown.png);
                        position: absolute;
                        bottom: 0.5%;
                        left: 25%;
                        width: 4px;
                        height: 4px;
                        display: block;
                    }

                    &__scroll::before {
                        content: '';
                        background: url(./sections/sectionsImg/scrollarrowup.png);
                        position: absolute;
                        top: 0.5%;
                        left: 25%;
                        width: 4px;
                        height: 4px;
                        display: block;
                    }
                }

                & .text {
                    background: #FFFFFF;
                    border-radius: 80px;
                    max-width: 536px;
                    min-height: 510px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 144px 105px 144px 121px;
                    box-sizing: border-box;
                    margin-left: 60px;
                    z-index: 5;

                    & h5 {
                        margin-bottom: 5px;
                        font-family: 'Futura PT';
                        font-style: normal;
                        font-weight: 450;
                        font-size: 25px;
                        line-height: 140%;
                        color: #2C2C2C;
                    }

                    &__subscribes {
                        & span {
                            font-family: 'Futura PT';
                            font-style: normal;
                            font-weight: 450;
                            font-size: 16px;
                            line-height: 140%;
                            color: #848484;
                        }

                        & .inst {
                            font-family: 'Futura PT';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 19px;
                            line-height: 140%;
                            color: #21A5B5;
                            margin-right: 10px;
                        }

                    }

                    & p {
                        margin-top: 15px;
                        margin-bottom: 15px;
                        font-family: 'Futura PT';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 140%;
                        max-width: 310px;
                        color: #2C2C2C;
                    }

                    &__links {
                        & a {
                            font-family: 'Futura PT';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 140%;
                            color: #21A5B5;
                            margin-right: 20px;
                            border-bottom: 1px solid #21A5B5;
                            padding-bottom: 0.3px;
                        }
                    }
                }
            }
        }
    }

    & .betterClothing {
        background: #F8F8F8;

        &__wrap {
            display: grid;
            grid-template-columns: 60% 40%;

            &__left {
                & h6 {
                    padding-top: 110px;
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 450;
                    font-size: 44px;
                    line-height: 140%;
                    color: #2C2C2C;
                    max-width: 553px;
                    position: relative;
                }

                & h6::after {
                    content: '';
                    background: url(./sections/sectionsImg/decore_wave.png);
                    background-repeat: no-repeat;
                    display: block;
                    width: 622px;
                    height: 69px;
                    position: absolute;
                    bottom: -50%;
                }

                &__detailsText {
                    padding-top: 180px;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    max-width: 736px;

                    & .item {
                        margin-bottom: 90px;
                    }

                    & .head {
                        font-family: 'Futura PT';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 100%;
                        color: #2C2C2C;
                    }

                    & p {
                        font-family: 'Futura PT';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 140%;
                        color: #2C2C2C;
                        max-width: 290px;
                        margin-top: 15px;
                    }
                }
            }

            &__right {
                position: relative;
                padding-top: 100px;

                &__text {
                    position: relative;

                    & p {
                        font-family: 'Futura PT';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 140%;
                        color: #2C2C2C;
                        max-width: 425px;
                        margin-bottom: 15px;
                    }
                }

                &__text::before {
                    content: '';
                    background: url(./sections/sectionsImg/2_conuses.png);
                    background-repeat: no-repeat;
                    position: absolute;
                    width: 28px;
                    height: 25px;
                    top: -20%;
                    left: -8%;
                }

                & img {
                    position: absolute;
                    bottom: -3%;
                }

            }
        }
    }

    & .instagram {
        background: white;
        padding-top: 110px;

        &__wrap {
            & h6 {
                font-family: 'Futura PT';
                font-style: normal;
                font-weight: 450;
                font-size: 44px;
                line-height: 140%;
                color: #2C2C2C;
                max-width: 527px;
            }

            &__text {
                padding-bottom: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & span {
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 140%;
                    color: #444444;
                    display: block;
                }

                & a {
                    padding: 16px 25px;
                    color: #21A5B5;
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 450;
                    font-size: 20px;
                    line-height: 100%;
                    transition: 1s;
                    border-radius: 15px;
                    border: 1px solid #21A5B5;
                }

                & a:hover {
                    background: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%);
                    color: white;
                }
            }

            & .instagramPics {
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 30px;

                &__left {
                    & .miniCards {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        max-width: 682px;
                        gap: 3.1%;
                        margin-top: 26px;
                    }
                }

                &__right {
                    & .miniCards {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        max-width: 682px;
                        gap: 3.1%;
                        margin-bottom: 30px;
                    }
                    & .mainImgRight{
                        margin-top: 59px;
                    }
                }
            }







        }
    }







}