.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1143px;
  margin: 0 auto;
}

header {
  flex: 0 0 auto;
  width: 100%;
  border-bottom: 1px solid #FDA3C4;
  padding-bottom: 15px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.header__wrap__top {
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
}
.header__wrap__top__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__wrap__top__item img {
  margin-right: 8px;
}
.header__wrap__top__item span {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FDA3C4;
}
.header__wrap__top__item:first-child {
  justify-content: flex-start;
}
.header__wrap__top__item:nth-child(4) span {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1F1F1F;
}
.header__wrap__top__item:last-child img:first-child {
  margin-right: 43px;
}
.header__wrap__top__item:last-child .basketImg {
  margin: 0;
}
.header__wrap__top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrap__top .item--burgerBasket {
  z-index: 30;
}
.header__wrap__top .item--burgerBasket .burger {
  cursor: pointer;
  max-width: 25px;
}
.header__wrap__top .item--burgerBasket .burger .basket {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: #FFFFFF;
  width: 518px;
  display: none;
  transition: 0.5s;
  z-index: 10;
}
.header__wrap__top .item--burgerBasket .burger .basket__button {
  position: absolute;
  right: 20%;
  top: 5%;
  width: 0;
}
.header__wrap__top .item--burgerBasket .burger .basket h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
  padding-top: 112px;
}
.header__wrap__top .item--burgerBasket .burger .basket__products {
  margin-top: 15px;
  border-right: 1px solid rgba(253, 163, 196, 0.8);
  max-width: 459px;
  position: relative;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card {
  margin-bottom: 10px;
  display: flex;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card .basketPng {
  margin: 0;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content {
  position: relative;
  margin-top: 5%;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  max-width: 165px;
  color: #000000;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #1F1F1F;
  margin-top: 8px;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content span {
  display: block;
  margin-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FDA3C4;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content img {
  position: absolute;
  right: -30%;
  top: 0;
  cursor: pointer;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card:first-child {
  padding-top: 40px;
}
.header__wrap__top .item--burgerBasket .burger .basket__products::after {
  content: "";
  position: absolute;
  display: block;
  height: 40px;
  width: 2px;
  background: #FDA3C4;
  border-radius: 4px;
  right: -0.33%;
  top: 15%;
}
.header__wrap__top .item--burgerBasket .burger .basket__sumOrder {
  display: flex;
  margin-left: 38px;
}
.header__wrap__top .item--burgerBasket .burger .basket__sumOrder span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  display: block;
}
.header__wrap__top .item--burgerBasket .burger .basket__sumOrder .sum {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  display: block;
  margin-left: 3px;
}
.header__wrap__top .item--burgerBasket .burger .basket__bottomButton {
  margin-top: 56px;
  padding-bottom: 77px;
  display: flex;
  justify-content: center;
}
.header__wrap__top .item--burgerBasket .burger .basket__bottomButton a {
  padding: 7px 30px 15px 25px;
  background: url(../img/burgerBasket/basketButtonBackground.png);
  background-repeat: no-repeat;
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}
.header__wrap__bottom {
  padding-top: 27px;
  display: flex;
  justify-content: center;
  gap: 6.5%;
}
.header__wrap__bottom span {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
}
.header__wrap__bottom span:hover {
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FDA3C4 !important;
}

main {
  flex: 1 0 auto;
}

.intro__wrap .clothingNav {
  border-bottom: 1px solid #909090;
  padding-bottom: 12px;
  padding-top: 14px;
  display: flex;
  gap: 6.5%;
}
.intro__wrap .clothingNav span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
  cursor: pointer;
  transition: 0.3s;
}
.intro__wrap .clothingNav span:hover {
  font-style: italic;
  font-weight: 500;
  color: #FDA3C4;
}
.intro__wrap .clothingNav span:first-child {
  margin-left: 8%;
}
.intro__wrap .leftAndRight {
  display: flex;
}
.intro__wrap__left__categoryNav {
  display: flex;
  gap: 8px;
  padding-top: 10px;
}
.intro__wrap__left__categoryNav span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
  transition: 0.3s;
  cursor: pointer;
}
.intro__wrap__left__categoryNav span:hover {
  color: #FDA3C4;
}
.intro__wrap__left__heading {
  margin-top: 86px;
  position: relative;
}
.intro__wrap__left__heading h1 {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 103px;
  color: #FDA3C4;
}
.intro__wrap__left__heading__text {
  position: absolute;
  bottom: 2%;
}
.intro__wrap__left__heading__text span {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1F1F1F;
  margin-right: 17px;
}
.intro__wrap__right {
  background: url(../img/CatalogBackground.svg);
  background-repeat: no-repeat;
  width: 100%;
  margin-left: 8%;
  margin-top: 10px;
}

.productsFilter {
  padding-top: 65px;
}
.productsFilter__wrap {
  display: flex;
}
.productsFilter__wrap__filter__item h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1F1F1F;
  margin-bottom: 30px;
}
.productsFilter__wrap__filter__item__content {
  cursor: pointer;
  margin-bottom: 15px;
  transition: 1s;
}
.productsFilter__wrap__filter__item__content span {
  margin-right: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1F1F1F;
}
.productsFilter__wrap__filter__item__content .invisible {
  display: none;
}
.productsFilter__wrap__filter__item__content:hover span {
  color: #FDA3C4;
  font-style: italic;
}
.productsFilter__wrap__filter__item__content:hover .visible {
  display: none;
}
.productsFilter__wrap__filter__item__content:hover .invisible {
  display: inline-block;
}
.productsFilter__wrap__filter__item__details {
  cursor: pointer;
  transition: 0.5s;
  width: 180px;
}
.productsFilter__wrap__filter__item__details summary {
  list-style-type: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1F1F1F;
  margin-bottom: 24px;
}
.productsFilter__wrap__filter__item__details summary .invisible {
  display: none;
}
.productsFilter__wrap__filter__item__details summary img {
  margin-left: 15px;
}
.productsFilter__wrap__filter__item__details .element {
  margin-left: 45px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.productsFilter__wrap__filter__item__details .element .circle {
  margin-right: 16px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.productsFilter__wrap__filter__item__details .element .black {
  box-shadow: 0 0 0 1px #1F1F1F;
}
.productsFilter__wrap__filter__item__details .element span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
}
.productsFilter__wrap__filter__item__details .element:hover .circle {
  background: #FDA3C4;
}
.productsFilter__wrap__filter__item__details .element:hover span {
  color: #FDA3C4;
  font-style: italic;
}
.productsFilter__wrap__filter__item__details .element:last-child {
  margin-bottom: 20px;
}
.productsFilter__wrap__filter__item__details:hover summary {
  color: #FDA3C4;
  font-style: italic;
}
.productsFilter__wrap__filter__item__details:hover summary .visible {
  display: none;
}
.productsFilter__wrap__filter__item__details:hover summary .invisible {
  display: inline-block;
}
.productsFilter__wrap__filter .item--2 h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1F1F1F;
  margin-bottom: 30px;
  margin-top: 50px;
}
.productsFilter__wrap__filter .item--2 .element {
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.productsFilter__wrap__filter .item--2 .element .circle {
  margin-right: 16px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.productsFilter__wrap__filter .item--2 .element .black {
  box-shadow: 0 0 0 1px #1F1F1F;
}
.productsFilter__wrap__filter .item--2 .element span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
}
.productsFilter__wrap__filter .item--2 .element:hover .circle {
  background: #FDA3C4;
}
.productsFilter__wrap__filter .item--2 .element:hover span {
  color: #FDA3C4;
  font-style: italic;
}
.productsFilter__wrap__filter .item--3 h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1F1F1F;
  margin-bottom: 30px;
  margin-top: 50px;
}
.productsFilter__wrap__filter .item--3 .element {
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.productsFilter__wrap__filter .item--3 .element .circle {
  margin-right: 16px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.productsFilter__wrap__filter .item--3 .element .black {
  box-shadow: 0 0 0 1px #1F1F1F;
}
.productsFilter__wrap__filter .item--3 .element span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
}
.productsFilter__wrap__filter .item--3 .element:hover .circle {
  background: #FDA3C4;
}
.productsFilter__wrap__filter .item--3 .element:hover span {
  color: #FDA3C4;
  font-style: italic;
}
.productsFilter__wrap__cardbox {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.productsFilter__wrap__cardbox__card {
  max-width: 456px;
  position: relative;
}
.productsFilter__wrap__cardbox__card .heart {
  position: absolute;
  top: 5%;
  right: 5%;
}
.productsFilter__wrap__cardbox__card .mainImg {
  min-height: 499px;
  max-width: 456px;
  border-bottom: 2px solid #FDA3C4;
}
.productsFilter__wrap__cardbox__card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  max-width: 456px;
}
.productsFilter__wrap__cardbox__card__bottom p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 200px;
  color: #1F1F1F;
}
.productsFilter__wrap__cardbox__card__bottom span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FDA3C4;
}

.instagram {
  padding-bottom: 340px;
}
.instagram__wrap {
  display: grid;
  grid-template-columns: 33.5% 31.5% 34%;
  padding-top: 96px;
  gap: 0.5%;
}
.instagram__wrap__left {
  margin-left: 1%;
}
.instagram__wrap__left h3 {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 103px;
  text-transform: uppercase;
  color: #1F1F1F;
}
.instagram__wrap__left span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
}
.instagram__wrap__left .miniText--two {
  display: block;
}
.instagram__wrap__left__images {
  margin-top: 9.6%;
}
.instagram__wrap__center {
  background: url(../img/InstagramCenter.png);
  background-repeat: no-repeat;
  margin-top: 4%;
}
.instagram__wrap__right {
  margin-top: 4%;
}
.instagram__wrap__right__images {
  margin-bottom: 18%;
}
.instagram__wrap__right__images img:first-child {
  margin-bottom: 9.5%;
}
.instagram__wrap__right h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: #F40000;
}
.instagram__wrap__right p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
  max-width: 276px;
  margin-left: 100px;
}

footer {
  padding: 60px 0 50px 0;
  background: #FDA3C4;
  flex: 0 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .footer__wrap {
  display: grid;
  grid-template-columns: 18% 20% 18% 20% 20%;
}
footer .footer__wrap__item span {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: #F40000;
  padding: 0;
  margin-left: 17%;
}
footer .footer__wrap__item ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
  list-style-type: none;
}
footer .footer__wrap__item ul li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
  list-style-type: none;
}
footer .footer__wrap__item ul li:first-child {
  margin-top: 20px;
}
footer .footer__wrap__item ul li:last-child {
  margin-bottom: 0;
}
footer .footer__wrap .item--social .images {
  margin-top: 20px;
}
footer .footer__wrap .item--social .images img {
  margin-right: 16px;
}
footer .item--feedback {
  display: flex;
  align-items: flex-start;
  margin-top: 10%;
}
footer .item--feedback img {
  margin-right: 31px;
}
footer .item--feedback .footer__wrap__item__text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 130px;
  color: #FFFFFF;
}
footer .item--feedback .footer__wrap__item__text p:last-child {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: #F40000;
  border-bottom: 1px solid #F40000;
  padding-bottom: 1px;
  max-width: 139px;
  margin-top: 19px;
}/*# sourceMappingURL=categoryStyle.css.map */