.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1143px;
  margin: 0 auto;
}

header {
  flex: 0 0 auto;
  width: 100%;
  border-bottom: 1px solid #FDA3C4;
  padding-bottom: 15px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.header__wrap__top {
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
}
.header__wrap__top__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__wrap__top__item img {
  margin-right: 8px;
}
.header__wrap__top__item span {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FDA3C4;
}
.header__wrap__top__item:first-child {
  justify-content: flex-start;
}
.header__wrap__top__item:nth-child(4) span {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1F1F1F;
}
.header__wrap__top__item:last-child img:first-child {
  margin-right: 43px;
}
.header__wrap__top__item:last-child .basketImg {
  margin: 0;
}
.header__wrap__top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrap__top .item--burgerBasket {
  z-index: 30;
}
.header__wrap__top .item--burgerBasket .burger {
  cursor: pointer;
  max-width: 25px;
}
.header__wrap__top .item--burgerBasket .burger .basket {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: #FFFFFF;
  width: 518px;
  display: none;
  transition: 0.5s;
  z-index: 10;
}
.header__wrap__top .item--burgerBasket .burger .basket__button {
  position: absolute;
  right: 20%;
  top: 5%;
  width: 0;
}
.header__wrap__top .item--burgerBasket .burger .basket h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
  padding-top: 112px;
}
.header__wrap__top .item--burgerBasket .burger .basket__products {
  margin-top: 15px;
  border-right: 1px solid rgba(253, 163, 196, 0.8);
  max-width: 459px;
  position: relative;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card {
  margin-bottom: 10px;
  display: flex;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card .basketPng {
  margin: 0;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content {
  position: relative;
  margin-top: 5%;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  max-width: 165px;
  color: #000000;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #1F1F1F;
  margin-top: 8px;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content span {
  display: block;
  margin-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FDA3C4;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content img {
  position: absolute;
  right: -30%;
  top: 0;
  cursor: pointer;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card:first-child {
  padding-top: 40px;
}
.header__wrap__top .item--burgerBasket .burger .basket__products::after {
  content: "";
  position: absolute;
  display: block;
  height: 40px;
  width: 2px;
  background: #FDA3C4;
  border-radius: 4px;
  right: -0.33%;
  top: 15%;
}
.header__wrap__top .item--burgerBasket .burger .basket__sumOrder {
  display: flex;
  margin-left: 38px;
}
.header__wrap__top .item--burgerBasket .burger .basket__sumOrder span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  display: block;
}
.header__wrap__top .item--burgerBasket .burger .basket__sumOrder .sum {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  display: block;
  margin-left: 3px;
}
.header__wrap__top .item--burgerBasket .burger .basket__bottomButton {
  margin-top: 56px;
  padding-bottom: 77px;
  display: flex;
  justify-content: center;
}
.header__wrap__top .item--burgerBasket .burger .basket__bottomButton a {
  padding: 7px 30px 15px 25px;
  background: url(../img/burgerBasket/basketButtonBackground.png);
  background-repeat: no-repeat;
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}
.header__wrap__bottom {
  padding-top: 27px;
  display: flex;
  justify-content: center;
  gap: 6.5%;
}
.header__wrap__bottom span {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
}
.header__wrap__bottom span:hover {
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FDA3C4 !important;
}

main {
  flex: 1 0 auto;
}

.heading {
  padding-top: 57px;
}
.heading__wrap nav {
  display: flex;
  align-items: center;
}
.heading__wrap nav span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
}
.heading__wrap nav img {
  margin-left: 7px;
  margin-right: 7px;
}
.heading__wrap nav .pink {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FDA3C4;
}
.heading__wrap__content {
  display: flex;
  justify-content: space-between;
}
.heading__wrap__content__left .head {
  position: relative;
}
.heading__wrap__content__left .head h1 {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 103px;
  color: #FDA3C4;
}
.heading__wrap__content__left .head__absoluteText {
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
}
.heading__wrap__content__left .head__absoluteText span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1F1F1F;
  margin-right: 17px;
}
.heading__wrap__content__left .contacts {
  padding-top: 41px;
}
.heading__wrap__content__left .contacts__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.heading__wrap__content__left .contacts__item img {
  margin-right: 18px;
}
.heading__wrap__content__left .contacts__item span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 300px;
  color: #1F1F1F;
}
.heading__wrap__content__left .googleCard {
  padding-top: 30px;
  margin-left: 5%;
  z-index: 10;
  position: absolute;
}
.heading__wrap__content__left .googleCard .button {
  padding-top: 40px;
}
.heading__wrap__content__left .googleCard .button a {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 15px 13px 9px;
  background: url(../img/ButtonPhone.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  max-width: 220px;
  justify-content: center;
}
.heading__wrap__content__right {
  background: url(../img/ContactsBackground.svg);
  background-repeat: no-repeat;
  max-width: 660px;
  min-height: 790px;
  width: 100%;
  position: relative;
}

.sendingAndExchange {
  padding-top: 68px;
}
.sendingAndExchange__wrap {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: end;
}
.sendingAndExchange__wrap__item {
  display: flex;
}
.sendingAndExchange__wrap__item img {
  margin-right: 34px;
}
.sendingAndExchange__wrap__item__text {
  position: relative;
}
.sendingAndExchange__wrap__item__text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #1F1F1F;
}
.sendingAndExchange__wrap__item__text span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #1F1F1F;
  margin-top: 15px;
}
.sendingAndExchange__wrap .item--one p {
  max-width: 200px;
}
.sendingAndExchange__wrap .item--one .time {
  margin-left: 13px;
  display: inline-block;
}
.sendingAndExchange__wrap .item--one span:last-child {
  font-size: 8px;
  display: inline-block;
  position: absolute;
  bottom: 12%;
}
.sendingAndExchange__wrap .item--two {
  margin-left: 5%;
}
.sendingAndExchange__wrap .item--two p {
  max-width: 203px;
}
.sendingAndExchange__wrap .item--two span {
  display: block;
}
.sendingAndExchange__wrap .item--three {
  margin-left: 20%;
}
.sendingAndExchange__wrap .item--three p {
  max-width: 138px;
}
.sendingAndExchange__wrap .item--three span {
  display: block;
}

.instagram {
  padding-bottom: 340px;
}
.instagram__wrap {
  display: grid;
  grid-template-columns: 33.5% 31.5% 34%;
  padding-top: 96px;
  gap: 0.5%;
}
.instagram__wrap__left {
  margin-left: 1%;
}
.instagram__wrap__left h3 {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 103px;
  text-transform: uppercase;
  color: #1F1F1F;
}
.instagram__wrap__left span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
}
.instagram__wrap__left .miniText--two {
  display: block;
}
.instagram__wrap__left__images {
  margin-top: 9.6%;
}
.instagram__wrap__center {
  background: url(../img/InstagramCenter.png);
  background-repeat: no-repeat;
  margin-top: 4%;
}
.instagram__wrap__right {
  margin-top: 4%;
}
.instagram__wrap__right__images {
  margin-bottom: 18%;
}
.instagram__wrap__right__images img:first-child {
  margin-bottom: 9.5%;
}
.instagram__wrap__right h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: #F40000;
}
.instagram__wrap__right p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
  max-width: 276px;
  margin-left: 100px;
}

footer {
  padding: 60px 0 50px 0;
  background: #FDA3C4;
  flex: 0 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .footer__wrap {
  display: grid;
  grid-template-columns: 18% 20% 18% 20% 20%;
}
footer .footer__wrap__item span {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: #F40000;
  padding: 0;
  margin-left: 17%;
}
footer .footer__wrap__item ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
  list-style-type: none;
}
footer .footer__wrap__item ul li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
  list-style-type: none;
}
footer .footer__wrap__item ul li:first-child {
  margin-top: 20px;
}
footer .footer__wrap__item ul li:last-child {
  margin-bottom: 0;
}
footer .footer__wrap .item--social .images {
  margin-top: 20px;
}
footer .footer__wrap .item--social .images img {
  margin-right: 16px;
}
footer .item--feedback {
  display: flex;
  align-items: flex-start;
  margin-top: 10%;
}
footer .item--feedback img {
  margin-right: 31px;
}
footer .item--feedback .footer__wrap__item__text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 130px;
  color: #FFFFFF;
}
footer .item--feedback .footer__wrap__item__text p:last-child {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: #F40000;
  border-bottom: 1px solid #F40000;
  padding-bottom: 1px;
  max-width: 139px;
  margin-top: 19px;
}/*# sourceMappingURL=ContactsStyle.css.map */