.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1143px;
  margin: 0 auto;
}

header {
  flex: 0 0 auto;
  width: 100%;
  border-bottom: 1px solid #FDA3C4;
  padding-bottom: 15px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.header__wrap__top {
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
}
.header__wrap__top__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__wrap__top__item img {
  margin-right: 8px;
}
.header__wrap__top__item span {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FDA3C4;
}
.header__wrap__top__item:first-child {
  justify-content: flex-start;
}
.header__wrap__top__item:nth-child(4) span {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1F1F1F;
}
.header__wrap__top__item:last-child img:first-child {
  margin-right: 43px;
}
.header__wrap__top__item:last-child .basketImg {
  margin: 0;
}
.header__wrap__top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrap__top .item--burgerBasket {
  z-index: 30;
}
.header__wrap__top .item--burgerBasket .burger {
  cursor: pointer;
  max-width: 25px;
}
.header__wrap__top .item--burgerBasket .burger .basket {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: #FFFFFF;
  width: 518px;
  display: none;
  transition: 0.5s;
  z-index: 10;
}
.header__wrap__top .item--burgerBasket .burger .basket__button {
  position: absolute;
  right: 20%;
  top: 5%;
  width: 0;
}
.header__wrap__top .item--burgerBasket .burger .basket h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
  padding-top: 112px;
}
.header__wrap__top .item--burgerBasket .burger .basket__products {
  margin-top: 15px;
  border-right: 1px solid rgba(253, 163, 196, 0.8);
  max-width: 459px;
  position: relative;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card {
  margin-bottom: 10px;
  display: flex;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card .basketPng {
  margin: 0;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content {
  position: relative;
  margin-top: 5%;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  max-width: 165px;
  color: #000000;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #1F1F1F;
  margin-top: 8px;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content span {
  display: block;
  margin-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FDA3C4;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card__content img {
  position: absolute;
  right: -30%;
  top: 0;
  cursor: pointer;
}
.header__wrap__top .item--burgerBasket .burger .basket__products__card:first-child {
  padding-top: 40px;
}
.header__wrap__top .item--burgerBasket .burger .basket__products::after {
  content: "";
  position: absolute;
  display: block;
  height: 40px;
  width: 2px;
  background: #FDA3C4;
  border-radius: 4px;
  right: -0.33%;
  top: 15%;
}
.header__wrap__top .item--burgerBasket .burger .basket__sumOrder {
  display: flex;
  margin-left: 38px;
}
.header__wrap__top .item--burgerBasket .burger .basket__sumOrder span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  display: block;
}
.header__wrap__top .item--burgerBasket .burger .basket__sumOrder .sum {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  display: block;
  margin-left: 3px;
}
.header__wrap__top .item--burgerBasket .burger .basket__bottomButton {
  margin-top: 56px;
  padding-bottom: 77px;
  display: flex;
  justify-content: center;
}
.header__wrap__top .item--burgerBasket .burger .basket__bottomButton a {
  padding: 7px 30px 15px 25px;
  background: url(../img/burgerBasket/basketButtonBackground.png);
  background-repeat: no-repeat;
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}
.header__wrap__bottom {
  padding-top: 27px;
  display: flex;
  justify-content: center;
  gap: 6.5%;
}
.header__wrap__bottom span {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
}
.header__wrap__bottom span:hover {
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FDA3C4 !important;
}

main {
  flex: 1 0 auto;
}

.order {
  padding-bottom: 310px;
}
.order__wrap {
  display: flex;
  justify-content: space-between;
}
.order__wrap__left .orderArea {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 42px;
  width: 600px;
}
.order__wrap__left .orderArea__number {
  margin-left: 15%;
}
.order__wrap__left .orderArea__number__num {
  position: relative;
  display: flex;
  align-items: center;
}
.order__wrap__left .orderArea__number__num h4 {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 103px;
  color: #FDA3C4;
  margin-right: 13px;
}
.order__wrap__left .orderArea__number__num span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  color: #1F1F1F;
  position: absolute;
  max-width: 198px;
  bottom: -21%;
  left: -15%;
}
.order__wrap__left .orderArea__textFields {
  margin-top: 2%;
  max-width: 334px;
  display: flex;
  flex-direction: column;
}
.order__wrap__left .orderArea__textFields input {
  margin-bottom: 10px;
  padding: 12px 0px 12px 21px;
  border: 2px solid #1F1F1F;
  border-radius: 4px;
}
.order__wrap__left .orderArea__textFields input::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FDA3C4;
}
.order__wrap__left .orderArea__textFields input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FDA3C4;
}
.order__wrap__left .orderArea__textFields input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FDA3C4;
}
.order__wrap__left .Area--two .orderArea__textFields {
  max-width: 500px;
}
.order__wrap__left .Area--two .orderArea__textFields .bottomText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1F1F1F;
  max-width: 273px;
  margin-left: 5%;
  padding-bottom: 16px;
}
.order__wrap__left .Area--two .orderArea__textFields .enterText {
  background: #FFFFFF;
  border: 2px solid #1F1F1F;
  border-radius: 4px;
  max-width: 334px;
  min-height: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FDA3C4;
  box-sizing: border-box;
  padding: 9px 0px 0px 25px;
  resize: none;
}
.order__wrap__left .Area--two .area__point {
  margin-bottom: 14px;
  display: flex;
}
.order__wrap__left .Area--two .area__point .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 14px;
  margin-top: 1%;
}
.order__wrap__left .Area--two .area__point .black {
  box-shadow: 0 0 0 3px #1f1f1f;
}
.order__wrap__left .Area--two .area__point .circle:hover {
  background: #FDA3C4;
  box-shadow: none;
}
.order__wrap__left .Area--two .area__point .text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 359px;
  color: #1F1F1F;
}
.order__wrap__left .Area--two .area__point .text span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FDA3C4;
}
.order__wrap__left .Area--three .area__point {
  margin-bottom: 14px;
  display: flex;
}
.order__wrap__left .Area--three .area__point .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 14px;
  margin-top: 1.5%;
}
.order__wrap__left .Area--three .area__point .black {
  box-shadow: 0 0 0 3px #1f1f1f;
}
.order__wrap__left .Area--three .area__point .circle:hover {
  background: #FDA3C4;
  box-shadow: none;
}
.order__wrap__left .Area--three .area__point .text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 359px;
  color: #1F1F1F;
}
.order__wrap__left .Area--three .area__point:nth-child(2) .circle {
  margin-top: 2%;
}
.order__wrap__left .Area--three input {
  margin-bottom: 68px;
}
.order__wrap__left .button {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  max-width: 565px;
  padding-bottom: 60px;
}
.order__wrap__left .button a {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: url(../img/Buttonorderbottom.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 7px 50px 15px 25px;
}
.order__wrap__right {
  padding-top: 26px;
  max-width: 615px;
}
.order__wrap__right .basket {
  box-shadow: 0px 2px 2px rgba(253, 163, 196, 0.24);
}
.order__wrap__right .basket h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  max-width: 518px;
  text-align: center;
  margin-bottom: 20p;
  padding-bottom: 20px;
}
.order__wrap__right .basket__products {
  margin-top: 15px;
  border-right: 1px solid rgba(253, 163, 196, 0.8);
  max-width: 459px;
  position: relative;
}
.order__wrap__right .basket__products__card {
  margin-bottom: 10px;
  display: flex;
}
.order__wrap__right .basket__products__card .basketPng {
  margin: 0;
}
.order__wrap__right .basket__products__card__content {
  position: relative;
  margin-top: 5%;
}
.order__wrap__right .basket__products__card__content h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  max-width: 165px;
  color: #000000;
}
.order__wrap__right .basket__products__card__content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #1F1F1F;
  margin-top: 8px;
}
.order__wrap__right .basket__products__card__content span {
  display: block;
  margin-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FDA3C4;
}
.order__wrap__right .basket__products__card__content img {
  position: absolute;
  right: -30%;
  top: 0;
  cursor: pointer;
}
.order__wrap__right .basket__products__card:first-child {
  padding-top: 40px;
}
.order__wrap__right .basket__products::after {
  content: "";
  position: absolute;
  display: block;
  height: 40px;
  width: 2px;
  background: #FDA3C4;
  border-radius: 4px;
  right: -0.33%;
  top: 15%;
}
.order__wrap__right .basket__sumOrder {
  margin-left: 55px;
  margin-top: 40px;
  padding-bottom: 30px;
}
.order__wrap__right .basket__sumOrder .pinkSum {
  margin-bottom: 8px;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
}
.order__wrap__right .basket__sumOrder .pinkSum .sumSmall {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FDA3C4;
}
.order__wrap__right .basket__sumOrder .pinkSum .sumBold {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FDA3C4;
}
.order__wrap__right .basket__sumOrder .sumEnd {
  margin-top: 30px;
  display: flex;
}
.order__wrap__right .basket__sumOrder .sumEnd span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  display: block;
}
.order__wrap__right .basket__sumOrder .sumEnd .sum {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  display: block;
  margin-left: 3px;
}

footer {
  padding: 60px 0 50px 0;
  background: #FDA3C4;
  flex: 0 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .footer__wrap {
  display: grid;
  grid-template-columns: 18% 20% 18% 20% 20%;
}
footer .footer__wrap__item span {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: #F40000;
  padding: 0;
  margin-left: 17%;
}
footer .footer__wrap__item ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
  list-style-type: none;
}
footer .footer__wrap__item ul li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
  list-style-type: none;
}
footer .footer__wrap__item ul li:first-child {
  margin-top: 20px;
}
footer .footer__wrap__item ul li:last-child {
  margin-bottom: 0;
}
footer .footer__wrap .item--social .images {
  margin-top: 20px;
}
footer .footer__wrap .item--social .images img {
  margin-right: 16px;
}
footer .item--feedback {
  display: flex;
  align-items: flex-start;
  margin-top: 10%;
}
footer .item--feedback img {
  margin-right: 31px;
}
footer .item--feedback .footer__wrap__item__text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 130px;
  color: #FFFFFF;
}
footer .item--feedback .footer__wrap__item__text p:last-child {
  font-family: "sundaybestrusbyalince";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: #F40000;
  border-bottom: 1px solid #F40000;
  padding-bottom: 1px;
  max-width: 139px;
  margin-top: 19px;
}/*# sourceMappingURL=OrderMakingStyle.css.map */