.header__wrap__top {
  position: relative;
  display: flex;
  padding-top: 20px;
}
.header__wrap__top__numberText {
  display: flex;
  align-items: center;
}
.header__wrap__top__numberText p {
  margin-right: 5px;
  color: #2B2A28;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}
.header__wrap__top__numberText span {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  opacity: 0.5;
}
.header__wrap__top__logo {
  margin: 0 auto;
  align-self: center;
  padding-right: 5%;
}
.header__wrap__top__right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__wrap__top__right .burgerBasket {
  cursor: pointer;
}
.header__wrap__top__right .burgerBasket:hover .basket {
  opacity: 1;
  width: auto;
  height: auto;
  transition: 1s;
}
.header__wrap__top__right .basket {
  box-shadow: 0px 1px 5px rgba(28, 30, 45, 0.07), 0px 5px 20px rgba(28, 30, 45, 0.07);
  border-radius: 0px 0px 15px 15px;
  position: absolute;
  right: 0;
  opacity: 0;
  width: 0;
  height: 0;
  top: 100%;
  z-index: 16;
  background: #FFFFFF;
}
.header__wrap__top__right .basket__cards {
  padding: 15px 30px 20px 30px;
  overflow: auto;
  max-height: 300px;
}
.header__wrap__top__right .basket__cards article {
  display: flex;
  margin-bottom: 20px;
}
.header__wrap__top__right .basket__cards article .itemPics {
  margin-right: 20px;
}
.header__wrap__top__right .basket__cards article .itemText h6 {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 130%;
  color: #21A5B5;
}
.header__wrap__top__right .basket__cards article .itemText p {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 130%;
  color: #848484;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header__wrap__top__right .basket__cards article .itemText span {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 130%;
  color: #2C2C2C;
}
.header__wrap__top__right .basket__cards article .itemText__bottom {
  margin-top: 41px;
  display: flex;
  align-items: center;
}
.header__wrap__top__right .basket__cards article .itemText__bottom span {
  margin-left: 5px;
  margin-right: 5px;
}
.header__wrap__top__right .basket__cards article .itemText__bottom .delete {
  margin-left: 80px;
}
.header__wrap__top__right .basket .basketBottom {
  padding: 20px 30px;
}
.header__wrap__top__right .basket .basketBottom .finalPayment {
  display: flex;
  justify-content: space-between;
}
.header__wrap__top__right .basket .basketBottom .finalPayment span {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 130%;
  color: #2C2C2C;
}
.header__wrap__top__right .basket .basketBottom a {
  display: block;
  margin-top: 20px;
  padding: 12px 62.5px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  background: linear-gradient(90deg, #21A5B5 0%, #71B2B4 100%);
  border-radius: 15px;
}
.header__wrap__bottom {
  display: flex;
  gap: 0.6%;
  margin-top: 20px;
}
.header__wrap__bottom a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #2B2A28;
  transition: 1s;
  display: block;
  position: relative;
  z-index: 10;
  padding: 10px 15px;
}
.header__wrap__bottom a:first-child {
  background: #FFECC8;
  border-radius: 10px;
}
.header__wrap__bottom a:last-child {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}
.header__wrap__bottom a:hover {
  background: #FFECC8;
  border-radius: 10px;
}
.header__wrap__bottom .gift::after {
  content: "";
  background: url(../img/gift.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
}
.header__wrap__bottom .sale {
  color: #F93C00;
  margin-left: 6%;
}
.header__wrap .visible {
  width: auto;
  height: auto;
  opacity: 1;
}