<template>
    <section class="productCard">
        <div class="container productCard__wrap">
            <div class="productCard__wrap__productImage">
                <div class="miniCards">
                    <div class="miniCards__card">
                        <img src="../assets/layouts/img/Productgirlmini.png" alt="image">
                    </div>
                    <div class="miniCards__card">
                        <img src="../assets/layouts/img/Productgirlmini.png" alt="image">
                    </div>
                    <div class="miniCards__card">
                        <img src="../assets/layouts/img/Productgirlmini.png" alt="image">
                    </div>
                    <div class="miniCards__card">
                        <img src="../assets/layouts/img/Productgirlmini.png" alt="image">
                    </div>
                </div>

                <div class="productMain">
                    <a href="#" class="sale40">-40%</a>
                    <img class="heart" src="../assets/layouts/img/bigheart.svg" alt="image">
                    <img src="../assets/layouts/img/Productgirl.png" alt="image">
                    <div class="buttons">
                        <button class="buttons__leftbtn">
                            <img src="../assets/layouts/img/arrowbtnleft.svg" alt="">
                        </button>
                        <button class="buttons__rightbtn">
                            <img src="../assets/layouts/img/arrowbtnright.svg" alt="">
                        </button>
                    </div>

                    <div class="toggles">
                        <div class="toggle"></div>
                        <div class="toggle"></div>
                        <div class="toggle"></div>
                        <div class="toggle"></div>
                    </div>
                </div>
            </div>

            <div class="productCard__wrap__productDescription">
                <div class="heading">
                    <div class="heading__item">
                        <h3>Fancy</h3>
                        <img src="../assets/layouts/img/share.svg" alt="image">
                    </div>
                    <div class="heading__item">
                        <span>Swimsuit with sleeves</span>
                        <span class="green">In stock</span>
                    </div>
                    <div class="heading__item">
                        <div class="price">
                            <span class="price__redPrice">5 400 r.</span>
                            <span class="price__lastPrice">6 200 r.</span>
                        </div>
                        <div class="raiting">
                            <img src="../assets/layouts/img/stars_active.svg" alt="image">
                            <span class="raintingNumber">(7)</span>
                        </div>
                    </div>
                </div>

                <div class="characteristics">

                    <div class="characteristics__item">
                        <span>Sizes</span>
                        <span class="blue">Table of sizes</span>
                    </div>

                    <div class="characteristics__item item--details">
                        <details>
                            <summary>Choose size
                                <img src="../assets/layouts/img/arrowdetailsProduct.svg" alt="image">
                            </summary>
                            <div class="size">
                                <span class="border">XS</span>
                                <span>42 RU</span>
                            </div>
                            <div class="size size--availability">
                                <div class="size__number">
                                    <span class="border">S</span>
                                    <span>44 RU</span>
                                </div>

                                <div class="size__availability">
                                    <span>Last!</span>
                                </div>


                            </div>
                            <div class="size">
                                <span class="border">M</span>
                                <span>46 RU</span>
                            </div>
                            <div class="size size--availability">
                                <div class="size__number">
                                    <span class="gray Border">L</span>
                                    <span class="gray">48 RU</span>
                                </div>

                                <div class="size__availability">
                                    <a href="#">Notify me when available</a>
                                </div>


                            </div>
                        </details>
                    </div>

                    <div class="characteristics__item item--sizes">
                        <span>Chest: 80-84</span>
                        <span>Waist: 60-65</span>
                        <span>Hips: 85-90</span>
                    </div>

                    <div class="characteristics__item item--buttons">
                        <button>Add to Basket</button>
                        <div class="sale">
                            <span>Discount 500 r.</span>
                            <a href="#">Take</a>
                        </div>
                    </div>

                    <div class="characteristics__item item--about">
                        <h4>About</h4>
                        <div class="about">
                            <div class="about__item">
                                <p>Color</p>
                                <span>Blue, purple</span>
                            </div>
                            <div class="about__item">
                                <p>Sun protection:</p>
                                <span>SPF 50</span>
                            </div>
                            <div class="about__item">
                                <p>Size on model:</p>
                                <span>S - 42/44</span>
                            </div>
                            <div class="about__item">
                                <p>Model parameters:</p>
                                <span>164sm, 86-63-90</span>
                            </div>


                        </div>

                        <a href="#">Go up ^</a>


                    </div>





                </div>
            </div>
        </div>
    </section>

    <section class="Benefits">
        <div class="container Benefits__wrap">
            <details>
                <summary>Advantages
                    <img src="../assets/layouts/img/arrowdetailsProduct.svg" alt="image">
                </summary>
                <div class="content">
                    <div class="left">
                        <span>- Easy to wash, dries quickly</span>
                        <span>- Does not fade, does not shed, does not lose color</span>
                        <span>- Allows the skin to breathe</span>
                        <span>- Resistant to wear, does not wrinkle</span>
                    </div>
                    <div class="right">
                        <div class="item">
                            <img src="../assets/layouts/img/benefitsItem1.svg" alt="image">
                            <span>All swimwear certified</span>
                        </div>
                        <div class="item">
                            <img src="../assets/layouts/img/benefitsItem2.svg" alt="image">
                            <span>Fitting around the world</span>
                        </div>
                        <div class="item">
                            <img src="../assets/layouts/img/benefitsItem3.svg" alt="image">
                            <span>Worldwide shipping</span>
                        </div>
                        <div class="item">
                            <img src="../assets/layouts/img/benefitsItem4.svg" alt="image">
                            <span>Tailoring a swimsuit according to your measurements</span>
                        </div>
                    </div>
                </div>

            </details>
            <details open>
                <summary>Description
                    <img src="../assets/layouts/img/arrowdetailsProduct.svg" alt="image">
                </summary>
            </details>
            <details open>
                <summary>Composition and care
                    <img src="../assets/layouts/img/arrowdetailsProduct.svg" alt="image">
                </summary>
            </details>

        </div>
    </section>

    <section class="reviews">
        <div class="container reviews__wrap">
            <div class="heading">
                <h5>Fancy customer reviews</h5>

                <div class="shareReview">
                    <p>Share your feedback on this product</p>
                    <router-link :to="'Error404'">
                        Leave feedback
                    </router-link>
                </div>
            </div>

            <div class="review review--first">
                <div class="review__raiting">
                    <p class="name">Maria</p>
                    <img src="../assets/layouts/img/starsactive.svg" alt="image">
                </div>
                <p class="inst">@maevamasha</p>
                <p>I ordered lycra and was satisfied not only with the quality, but also with a cool design! Everyone who went to the site,
                     I advise you to choose something for yourself!)</p>
                <div class="images">
                    <img src="../assets/layouts/img/reviewgirl.png" alt="image">
                    <img src="../assets/layouts/img/reviewgirl2.png" alt="image">
                </div>
            </div>

            <div class="review">
                <div class="review__raiting">
                    <p class="name">Helen</p>
                    <img src="../assets/layouts/img/starsactive.svg" alt="image">
                </div>
                <p class="inst">@</p>
                <p>I received a swimsuit, I liked it.<br>
                     The color is rich, bright. The fabric is soft. The swimsuit is comfortable, pleasant to the body. I ordered it according to my
                     parameters<br> and with short sleeves.Organization for 5+.</p>
            </div>

            <div class="review">
                <div class="review__raiting">
                    <p class="name">Violet</p>
                    <img src="../assets/layouts/img/starsactive.svg" alt="image">
                </div>
                <p class="inst">@</p>
                <p>I ordered tailoring according to individual measurements. Excellent quality!!! Pretty thick material. seams
                     processed carefully. The swimsuit was sent in a purse, also as a "compliment from the chef"
                     hair tie to match the lightning;) I was pleasantly surprised that we had such a company in which
                     You can order a swimsuit, taking into account the features of the figure. I recommend!!!!</p>
            </div>

        </div>
    </section>

    <section class="interestingProducts">
        <div class="container interestingProducts__wrap">
            <h6>You may be interested</h6>
            <div class="interestingProducts__wrap__cards">
                <article>
                    <img class='girl1' src="../assets/layouts/img/popgirl1.png" alt="">
                    <img class="heart" src="../assets/layouts/img/wishlist_button.svg" alt="">
                    <div class="cardBottom">
                        <p>6 000 r.</p>
                        <span>Kiana</span>
                        <div class="cardSizes">
                            <span class="size">XS</span>
                            <span class="size">S</span>
                            <span class="size">M</span>
                            <span class="size">L</span>
                            <span class="size">By the standards</span>
                        </div>

                        <router-link :to="'catalog'">
                            Buy
                        </router-link>
                    </div>
                </article>

                <article>
                    <img class='girl2' src="../assets/layouts/img/popgirl2.png" alt="">
                    <img class="heart" src="../assets/layouts/img/wishlist_button.svg" alt="">
                    <div class="cardBottom">
                        <p class="orangePrice">4 500 r.</p>
                        <span>Moana Neon</span>
                        <div class="cardSizes">
                            <span class="size">XS</span>
                            <span class="size">S</span>
                            <span class="size">M</span>
                            <span class="size">L</span>
                            <span class="size">By the standards</span>
                        </div>

                        <router-link :to="'catalog'">
                            Buy
                        </router-link>
                    </div>
                </article>

                <article>
                    <img class='girl3' src="../assets/layouts/img/popgirl3.png" alt="">
                    <img class="heart" src="../assets/layouts/img/wishlist_button.svg" alt="">
                    <div class="cardBottom">
                        <p>8 500 r.</p>
                        <span>Mandy</span>
                        <div class="cardSizes">
                            <span class="size">XS</span>
                            <span class="size">S</span>
                            <span class="size">M</span>
                            <span class="size">L</span>
                            <span class="size">By the standards</span>
                        </div>

                        <router-link :to="'catalog'">
                            Buy
                        </router-link>
                    </div>
                </article>

                <article>
                    <img class='girl4' src="../assets/layouts/img/popgirl4.png" alt="">
                    <img class="heart" src="../assets/layouts/img/wishlist_button.svg" alt="">
                    <div class="cardBottom">
                        <p>6 000 r.</p>
                        <span>Geometry</span>
                        <div class="cardSizes">
                            <span class="size">XS</span>
                            <span class="size">S</span>
                            <span class="size">M</span>
                            <span class="size">L</span>
                            <span class="size">By the standards</span>
                        </div>

                        <router-link :to="'catalog'">
                            Buy
                        </router-link>
                    </div>
                </article>
            </div>
        </div>
    </section>


</template>


<style scoped lang="scss">
@import url(../assets/layouts/itemCard/itemCard.scss);
</style>