<template>

    <section class="creatorNetwork">
        <div class="container creatorNetwork__wrap">
            <div class="heading">
                <p>Create, explore, & collect digital art NFTs.</p>

                <h1>The new creative economy.</h1>

                <a href="#">Start your search</a>

            </div>

            <div class="creator">
                <div class="nftImage">
                    <img src="./sectionsimg/imgNftMain.png" alt="imagenft">

                    <audio controls>
                        <source src="./sectionsimg/ps5.mp3" type="audio/mp3">
                    </audio>
                </div>

                <div class="nftDescription">
                    <h2>the creator network®</h2>
                    <div class="nftDescription__items">
                        <div class="item">
                            <img src="./sectionsimg/Avatar1.png" alt="avatarimage">

                            <div class="item__text">
                                <p>Creator</p>
                                <span>Enrico Cole</span>
                            </div>

                        </div>

                        <div class="item">

                            <img src="./sectionsimg/GreenCirclequadro.svg" alt="avatarimage">

                            <div class="item__text">
                                <p>Instant price</p>
                                <span>3.5 ETH</span>
                            </div>

                        </div>
                    </div>

                    <div class="time">
                        <p class="head">Current Bid</p>

                        <p class="eth">1.00 ETH</p>

                        <p class="price">$3,618.36</p>

                        <p class="head">Auction ending in</p>

                        <div class="timeRemaining">

                            <div class="timeRemaining__item">
                                <p class="times">19</p>
                                <span>Hrs</span>
                            </div>

                            <div class="timeRemaining__item">
                                <p class="times">24</p>
                                <span>mins</span>
                            </div>

                            <div class="timeRemaining__item">
                                <p class="times">19</p>
                                <span>secs</span>
                            </div>

                        </div>
                    </div>

                    <a class="blueLink" href="#">Place a bid</a>

                    <a href="#">View item</a>

                    <div class="arrowToggles">
                        <img src="./sectionsimg/ArrowLeft.svg" alt="imagearrow">

                        <img src="./sectionsimg/ArrowRight.svg" alt="imagearrow">

                    </div>

                </div>

            </div>

            <div class="nftCards">
                <div class="mainCard">
                    <div class="image">
                        <img src="./sectionsimg/NFTBIGCARDS2.png" alt="nftimagebig">
                    </div>

                    <div class="content">

                        <div class="name">
                            <img src="./sectionsimg/Avatar1.png" alt="avatarimage">
                            <div class="text">
                                <p>The future of ETH®</p>
                                <span>18 in stock</span>
                            </div>
                        </div>

                        <div class="price">
                            <span class="price__top">Highest bid</span>

                            <p class="price__bottom">1.125 ETH</p>
                        </div>

                    </div>

                </div>

                <div class="miniCards">
                    <article class="miniCards__card">
                        <div class="miniCards__card__image">
                            <img src="./sectionsimg/nftcard1.png" alt="imagenftcard">
                        </div>
                        
                        <div class="miniCards__card__content">
                            <p class="headText">ETH never die</p>

                            <div class="price">
                                <img src="./sectionsimg/avatarpurplemini.png" alt="avatarimage">
                                <p class="price__bottom">0.27 ETH</p>
                                <span>1 of 12</span>
                            </div>

                            <a href="#">Place a bid</a>
                        </div>

                    </article>

                    <article class="miniCards__card">
                        <div class="miniCards__card__image">
                            <img src="./sectionsimg/nftCard2.png" alt="imagenftcard">
                        </div>
                        
                        <div class="miniCards__card__content">
                            <p class="headText">Future coming soon</p>

                            <div class="price">
                                <img src="./sectionsimg/avatarpurplemini.png" alt="avatarimage">
                                <p>0.27 ETH</p>
                                <span>1 of 3</span>
                            </div>

                            <a href="#">Place a bid</a>
                        </div>

                    </article>

                    <article class="miniCards__card card--3">
                        <div class="miniCards__card__image">
                            <img src="./sectionsimg/nftcard3.png" alt="imagenftcard">
                        </div>
                        
                        <div class="miniCards__card__content">
                            <p class="headText">Elon Musk silver coin 3d print</p>

                            <div class="price">
                                <img src="./sectionsimg/avatarpurplemini.png" alt="avatarimage">
                                <p>0.27 ETH</p>
                                <span>1 of 4</span>
                            </div>

                            <a href="#">Place a bid</a>
                        </div>

                    </article>

                    

                </div>

                <div class="people">
                    <p>Latest upload from creators 🔥</p>

                    <div class="item">
                        <img src="./sectionsimg/purpleBig.png" alt="">
                        <div class="item__text">
                            <p class="namePerson">Payton Harris</p>
                            <p class="priceWork">2.456
                                <span class="currency">ETH</span>
                            </p>
                            
                        </div>
                    </div>

                    <div class="item">
                        <img src="./sectionsimg/whitebig.png" alt="">
                        <div class="item__text">
                            <p class="namePerson">Anita Bins</p>
                            <p class="priceWork">2.456
                                <span class="currency">ETH</span>
                            </p>
                            
                        </div>
                    </div>

                    <div class="item">
                        <img src="./sectionsimg/pinkbig.png" alt="">
                        <div class="item__text">
                            <p class="namePerson">Joana Wuckert</p>
                            <p class="priceWork">2.456
                                <span class="currency">ETH</span>
                            </p>
                            
                        </div>
                    </div>

                    <div class="item item--4">
                        <img src="./sectionsimg/yellowbig.png" alt="">
                        <div class="item__text">
                            <p class="namePerson">Lorena Ledner</p>
                            <p class="priceWork">2.456
                                <span class="currency">ETH</span>
                            </p>
                            
                        </div>
                    </div>

                    <a href="#">Discover more
                        <img src="./sectionsimg/ArrowRight.svg" alt="imageArrow">
                    </a>

                </div>

            </div>
        </div>
    </section>
</template>