<template>

    <section class="hotCollections">
        <div class="container">
            <h5>Hot collections</h5>

            <div class="items">
                <div class="items__item">
                    <img src="./sectionsimg/collection1.png" alt="collectionimage">
                    <img src="./sectionsimg/smallcollection1.png" alt="smallcollectionimage">

                    <div class="text">
                        <p>Awesome collection</p>
                        <div class="text__bottom">
                            <img class="avatarImg" src="./sectionsimg/avatar1mini.png" alt="avatarimage">
                            <span>By Kennith Olson</span>

                            <p class="itemss">28 items</p>
                        </div>
                    </div>
                </div>

                <div class="items__item">
                    <img src="./sectionsimg/collection2.png" alt="collectionimage">
                    <img src="./sectionsimg/smallcollection2.png" alt="smallcollectionimage">

                    <div class="text">
                        <p>Awesome collection</p>
                        <div class="text__bottom">
                            <img class="avatarImg" src="./sectionsimg/avatar1mini.png" alt="avatarimage">
                            <span>By Lenny Toy</span>
                            <p class="itemss">28 items</p>
                        </div>
                    </div>
                </div>

                <div class="items__item">
                    <img src="./sectionsimg/collection3.png" alt="collectionimage">
                    <img src="./sectionsimg/smallcollection3.png" alt="smallcollectionimage">

                    <div class="text">
                        <p>Awesome collection</p>
                        <div class="text__bottom">
                            <img src="./sectionsimg/avatar1mini.png" alt="avatarimage">
                            <span>By Payton Cunde</span>
                            <p class="itemss">28 items</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</template>