<template>
    <section class="hotBid">
        <div class="container">
            <div class="hotBid__heading">
                <h4>Hot bid</h4>

                <div class="arrows">
                    <img src="./sectionsimg/ArrowLeft.svg" alt="imagearrow">
                    <img src="./sectionsimg/ArrowRight.svg" alt="imagearrow">
                </div>
            </div>

            <div class="hotBid__cardbox">
                <article class="hotBid__cardbox__card">
                    <img class="bigCard" src="./sectionsimg/hotcard1.png" alt="imageCard">

                    <div class="crypt">
                        <p>Amazing digital art</p>
                        <p class="greenText">2.45 ETH</p>
                    </div>

                    <div class="avatars">
                        <img src="./sectionsimg/avatars.png" alt="imageavatars">
                        <p class="stock">3 in stock</p>
                    </div>

                    <div class="bid">
                        <div class="bid__left">
                            <span class="slide">Highest bid</span>
                            <p class="bidValue">0.001 ETH</p>
                        </div>

                        <span>New bid 🔥</span>
                    </div>
                </article>

                <article class="hotBid__cardbox__card">
                    <img class="bigCard" src="./sectionsimg/hotcard2.png" alt="imageCard">

                    <div class="crypt">
                        <p>Amazing digital art</p>
                        <p class="greenText">2.45 ETH</p>
                    </div>

                    <div class="avatars">
                        <img src="./sectionsimg/avatars.png" alt="imageavatars">
                        <p class="stock">3 in stock</p>
                    </div>

                    <div class="bid">
                        <div class="bid__left">
                            <span class="slide">Highest bid</span>
                            <p class="bidValue">0.001 ETH</p>
                        </div>

                        <span>New bid 🔥</span>
                    </div>
                </article>

                <article class="hotBid__cardbox__card">
                    <img class="bigCard" src="./sectionsimg/hotcard3.png" alt="imageCard">

                    <div class="crypt">
                        <p>Amazing digital art</p>
                        <p class="greenText">2.45 ETH</p>
                    </div>

                    <div class="avatars">
                        <img src="./sectionsimg/avatars.png" alt="imageavatars">
                        <p class="stock">3 in stock</p>
                    </div>

                    <div class="bid">
                        <div class="bid__left">
                            <span class="slide">Highest bid</span>
                            <p class="bidValue">0.001 ETH</p>
                        </div>

                        <span>New bid 🔥</span>
                    </div>
                </article>

                <article class="hotBid__cardbox__card">
                    <img class="bigCard" src="./sectionsimg/hotcard4.png" alt="imageCard">

                    <div class="crypt">
                        <p>Amazing digital art</p>
                        <p class="greenText">2.45 ETH</p>
                    </div>

                    <div class="avatars">
                        <img src="./sectionsimg/avatars.png" alt="imageavatars">
                        <p class="stock">3 in stock</p>
                    </div>

                    <div class="bid">
                        <div class="bid__left">
                            <span class="slide">Highest bid</span>
                            <p class="bidValue">0.001 ETH</p>
                        </div>

                        <span>New bid 🔥</span>
                    </div>
                </article>
            </div>
        </div>
    </section>

</template>