<template>
    <section class="attourneys">
        <div class="container attourneys__wrap">
            <h6>Our Experienced Attorney Are Ready To answer any questions</h6>

            <div class="attourneys__wrap__cards">

                <article class="card">
                    <img src="./sectionsImg/Man.png" alt="image">

                    <div class="socialIcons">
                        <img src="./sectionsImg/Facebook.svg" alt="image">
                        <img src="./sectionsImg/Twitter.svg" alt="image">
                        <img src="./sectionsImg/Instagram.svg" alt="image">
                        <img src="./sectionsImg/Pucakecece.svg" alt="image">
                    </div>

                    <p>John Turner</p>
                    <span>Civil Attorney</span>

                </article>

                <article class="card">
                    <img src="./sectionsImg/LawGirl.png" alt="image">

                    <div class="socialIcons">
                        <img src="./sectionsImg/Facebook.svg" alt="image">
                        <img src="./sectionsImg/Twitter.svg" alt="image">
                        <img src="./sectionsImg/Instagram.svg" alt="image">
                        <img src="./sectionsImg/Pucakecece.svg" alt="image">
                    </div>

                    <p>Martha Black</p>
                    <span>Associate Attorney</span>

                </article>

                <article class="card">
                    <img src="./sectionsImg/Man2.png" alt="image">

                    <div class="socialIcons">
                        <img src="./sectionsImg/Facebook.svg" alt="image">
                        <img src="./sectionsImg/Twitter.svg" alt="image">
                        <img src="./sectionsImg/Instagram.svg" alt="image">
                        <img src="./sectionsImg/Pucakecece.svg" alt="image">
                    </div>

                    <p>Brian Gomez</p>
                    <span>Titular Attorney</span>

                </article>
            </div>


        </div>
    </section>

</template>