<template>
    <section class="blogs">
        <div class="container">
            <div class="RecentBlogs">
                <h6>Recent Blogs</h6>

                <div class="recent">
                    <img src="../sections/sectionsImg/RecentBlogs.png" alt="image">

                    <div class="recent__content">
                        <div class="date">
                            <span>Corporate Law</span>
                            <span>Friday, February 4, 2022</span>
                        </div>

                        <h6 class="head">The Difference between Information & Legal Advice</h6>

                        <p>Collaborative on low-hanging fruit to identify a ballpark value added activity to beta matrix economically test override the digital.</p>

                        <a href="#">View More</a>
                    </div>
                </div>
            </div>

            <div class="blogCards">
                <article class="blogCards__card">
                    <div class="top">
                        <img src="./sectionsImg/Blog1.png" alt="image">
                        <div class="date">
                            <span>Corporate Law</span>
                            <span>Friday, February 4, 2022</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <p>How to Tell Who Is at Fault in a Car Accident</p>
                        <p class="miniText">Capitalize on low-hanging fruit to identify a ballpark value added matrix economically activity to beta test override the digital.</p>
                        <a href="#">View More</a>
                    </div>
                </article>

                <article class="blogCards__card">
                    <div class="top">
                        <img src="./sectionsImg/Blog2.png" alt="image">
                        <div class="date">
                            <span>Legal Advice</span>
                            <span>Friday, February 4, 2022</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <p>When Sue Outside of Workers’ Compensation</p>
                        <p class="miniText">Strategies on low-hanging fruit to identify a ballpark value added activity matrix economically to beta test override the digital.</p>
                        <a href="#">View More</a>
                    </div>
                </article>

                <article class="blogCards__card">
                    <div class="top">
                        <img src="./sectionsImg/Blog3.png" alt="image">
                        <div class="date">
                            <span>Social Justice</span>
                            <span>Friday, February 4, 2022</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <p>Social Media Postings Lead to Defense Verdict</p>
                        <p class="miniText">Collaborative on low-hanging fruit to identify a ballpark value added activity to beta matrix economically test override the digital.</p>
                        <a href="#">View More</a>
                    </div>
                </article>

                <article class="blogCards__card">
                    <div class="top">
                        <img src="./sectionsImg/Blog4.png" alt="image">
                        <div class="date">
                            <span>Corporate Law</span>
                            <span>Friday, February 4, 2022</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <p>Riding solo to the rescue of her beloved nonprofits</p>
                        <p class="miniText">Podcasting on low-hanging fruit to identify a ballpark value added activity to beta test override matrix economically the digital.</p>
                        <a href="#">View More</a>
                    </div>
                </article>

                <article class="blogCards__card">
                    <div class="top">
                        <img src="./sectionsImg/Blog5.png" alt="image">
                        <div class="date">
                            <span>Legal Advice</span>
                            <span>Friday, February 4, 2022</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <p>Case Filed on Behalf of Injured Tugboat Worker</p>
                        <p class="miniText">Efficiently on low-hanging fruit to identify a ballpark value added activity to beta test matrix economically override the digital.</p>
                        <a href="#">View More</a>
                    </div>
                </article>

                <article class="blogCards__card">
                    <div class="top">
                        <img src="./sectionsImg/Blog6.png" alt="image">
                        <div class="date">
                            <span>Social Justice</span>
                            <span>Friday, February 4, 2022</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <p>How Companies Choose Legal Representation</p>
                        <p class="miniText">Objectively on low-hanging fruit to identify a ballpark value added activity to beta matrix economically test override the digital.</p>
                        <a href="#">View More</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
</template>