@font-face {
  font-family: "HelveticaNeueBlackCondensed";
  src: url(../font/SFPRODISPLAYMEDIUM.OTF);
}
* {
  font-weight: 300;
  text-decoration: none;
}
* p {
  margin: 0;
}
* h2 {
  margin: 0;
}
* h3 {
  margin: 0;
}
* h1 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: #373A3C;
  border-radius: 4px;
  border-bottom: 3px solid #777777;
  max-width: 1400px;
  margin: 0 auto;
}
header .header__wrap {
  display: flex;
  padding: 15px 0 13px 0;
  justify-content: space-between;
}
header .header__wrap__right {
  display: flex;
  align-items: center;
}
header .header__wrap__right__item {
  margin-left: 20px;
}
header .header__wrap__right__item img {
  margin-left: 8px;
}
header .header__wrap__right__item span {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
header .header__wrap__right__item span:hover {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
header .header__wrap__right__item input {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 9px 70px 8px 15px;
  margin-left: 37px;
}
header .header__wrap__right__item ::-webkit-input-placeholder {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 16px;
  line-height: 21px;
  color: #435766;
  mix-blend-mode: normal;
  opacity: 0.4;
}
header .header__wrap__right__item__personImg {
  margin-left: 10px;
  margin-right: 5px;
}

.introDetails {
  background: linear-gradient(rgba(119, 119, 119, 0.4), rgba(80, 80, 80, 0.4)), url(../img/introPhoneDetails.png);
  background-repeat: no-repeat;
  max-width: 1400px;
  background-position: center;
  margin: 0 auto;
  min-height: 550px;
}
.introDetails__wrap {
  padding-top: 109px;
  padding-left: 60%;
}
.introDetails__wrap h1 {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}
.introDetails__wrap p {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.introDetails__wrap__buttons {
  margin-top: 8%;
  display: flex;
  gap: 20px;
}
.introDetails__wrap__buttons a:first-child {
  font-family: "HelveticaNeueBlackCondensed";
  padding: 8px 29px 9px 29px;
  background: #8DD83D;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  transition: 1s;
}
.introDetails__wrap__buttons a:hover {
  filter: brightness(110%);
}
.introDetails__wrap__buttons a:last-child {
  font-family: "HelveticaNeueBlackCondensed";
  padding: 8px 29px 9px 22px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background: #8DD83D;
  border-radius: 4px;
  transition: 1s;
}

.gameDescription {
  background: radial-gradient(100% 100% at 50% 0%, rgba(76, 80, 82, 0.1) 0%, rgba(95, 98, 101, 0.1) 100%);
  max-width: 1400px;
  margin: 0 auto;
}
.gameDescription__wrap__top h2 {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 36px;
  line-height: 42px;
  color: #435766;
  padding-top: 99px;
  margin-left: 40%;
}
.gameDescription__wrap__top__buttons {
  margin-top: 208px;
  margin-left: 35%;
}
.gameDescription__wrap__top__buttons a:first-child {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 13px 41px 18px 41px;
  background: #8DD83D;
  border-radius: 4px;
  transition: 1s;
}
.gameDescription__wrap__top__buttons a:first-child:hover {
  filter: brightness(110%);
}
.gameDescription__wrap__top__buttons a:last-child {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 13px 20px 18px 21px;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
  margin-left: 14px;
  transition: 1s;
}
.gameDescription__wrap__top__buttons a:last-child:hover {
  filter: brightness(75%);
}
.gameDescription__wrap__top__imgPlay {
  background-image: url(../img/ImgPlayPhone.png);
  background-repeat: no-repeat;
  margin-top: 103px;
  min-height: 562px;
  display: flex;
  margin-left: 12%;
  justify-content: center;
  max-width: 890px;
}
.gameDescription__wrap__top__imgContentRight {
  margin-top: 115px;
  display: flex;
  justify-content: space-between;
}
.gameDescription__wrap__top__imgContentRight p {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 36px;
  line-height: 42px;
  color: #435766;
  max-width: 414px;
  margin-top: 2%;
  margin-left: 10%;
}
.gameDescription__wrap__top__imgContentRight img {
  margin-right: 6%;
}
.gameDescription__wrap__top__imgContentLeft {
  margin-top: 115px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.gameDescription__wrap__top__imgContentLeft p {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 36px;
  line-height: 42px;
  color: #435766;
  max-width: 414px;
  margin-top: 2%;
  margin-right: 25%;
}
.gameDescription__wrap__top__imgContentLeft img {
  margin-left: 5%;
}
.gameDescription__wrap__bottom {
  margin-top: 105px;
}
.gameDescription__wrap__bottom h3 {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 36px;
  line-height: 42px;
  color: #435766;
  margin-bottom: 47px;
  text-align: center;
}
.gameDescription__wrap__bottom__text {
  display: grid;
  grid-template-columns: 35% 35% 30%;
}
.gameDescription__wrap__bottom__text__content {
  margin-left: 25%;
}
.gameDescription__wrap__bottom__text__content p {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 21px;
  line-height: 24px;
  color: #435766;
  max-width: 320px;
}
.gameDescription__wrap__bottom__text__content p:first-child {
  margin-bottom: 20px;
}
.gameDescription__wrap__bottom__text__content:first-child p:first-child {
  max-width: 280px;
}
.gameDescription__wrap__bottom__text__content:nth-child(2) {
  margin-left: 15%;
}
.gameDescription__wrap__bottom__text__content:nth-child(2) p:first-child {
  margin-bottom: 44px;
}
.gameDescription__wrap__bottom__text__content:last-child {
  margin-left: 0;
}
.gameDescription__wrap__bottom__text__content:last-child p:first-child {
  margin-bottom: 44px;
}
.gameDescription__wrap__bottom__buttons {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 109px;
}
.gameDescription__wrap__bottom__buttons a:first-child {
  padding: 13px 53px 18px 53px;
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
  transition: 1s;
}
.gameDescription__wrap__bottom__buttons a:first-child:hover {
  filter: brightness(75%);
}
.gameDescription__wrap__bottom__buttons a:last-child {
  padding: 13px 18px 18px 19px;
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: #8DD83D;
  border-radius: 4px;
  margin-left: 16px;
  transition: 1s;
}
.gameDescription__wrap__bottom__buttons a:last-child:hover {
  filter: brightness(110%);
}

footer {
  background: #373A3C;
  border-radius: 4px;
  max-width: 1400px;
  margin: 0 auto;
}
footer .footer__wrap {
  padding-top: 58px;
}
footer .footer__wrap__top {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}
footer .footer__wrap__top__category {
  margin-left: 30%;
}
footer .footer__wrap__top__category h3 {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  color: #7DD42F;
}
footer .footer__wrap__top__category__text {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 30px;
  cursor: pointer;
}
footer .footer__wrap__top__category:nth-child(2) {
  margin-left: 30%;
}
footer .footer__wrap__top__category:last-child {
  margin-left: 25%;
}
footer .footer__wrap__top__category:last-child .footer__wrap__top__category__images {
  cursor: pointer;
  margin-top: 29px;
}
footer .footer__wrap__top__category:last-child .footer__wrap__top__category__images img {
  margin-left: 15px;
}
footer .footer__wrap__top__category:last-child .footer__wrap__top__category__images img:first-child {
  margin-left: 0;
}
footer .footer__wrap__bottom__line {
  height: 2px;
  max-width: 1200px;
  background: #FFFFFF;
  opacity: 0.35;
  margin-top: 49px;
}
footer .footer__wrap__bottom__text {
  margin-top: 19px;
  padding-bottom: 38px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
footer .footer__wrap__bottom__text span {
  font-family: "HelveticaNeueBlackCondensed";
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}/*# sourceMappingURL=xboxDetails.css.map */