@import url(./header.scss);
@import url(./footer.scss);
@import url(./creatorNetwork.scss);
@import url(./sectionsellers.scss);
@import url(./sectionhotbid.scss);
@import url(./hotCollections.scss);
@import url(./SectionCrypter.scss);
@import url(./filter.scss);



* {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        cursor: default;
        margin: 0;
        padding: 0;
    }

    body {
        max-width: 1440px;
        margin: 0 auto;
    }

    & a {
        text-decoration: none;
    }

    & span {
        cursor: default;
    }
}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Bold.ttf);
}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Medium.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf);
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

@media(max-width:1024px) {
    .container {
        max-width: 864px;
    }

    .header__wrap {
        & .logo {
            & .logotype {
                display: block;
                border: none;
            }
        }

        & span {
            display: none;
        }

        & .Search {
            margin-left: 165px;

            & input {
                padding: 10px 68px 10px 16px;
            }
        }

        & a {
            padding: 12px 10px;
        }
    }

    .creatorNetworkTablet {
        display: block !important;

        &__wrap {
            & .heading {
                padding-top: 128px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 12px;
                    text-transform: uppercase;
                    color: #777E91;
                    margin-bottom: 8px;
                }

                & h1 {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 48px;
                    text-align: center;
                    letter-spacing: -0.01em;
                    color: #23262F;
                    margin-bottom: 24px;
                }

                & a {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 16px;
                    text-align: center;
                    color: #23262F;
                    padding: 16px 24px;
                    border: 2px solid #E6E8EC;
                    border-radius: 90px;
                    margin-bottom: 100px;
                }

                & a:hover {
                    transition: 1s;
                    background: #E6E8EC;
                }
            }

            & .creator {
                display: flex;
                gap: 32px;

                & .nftImage {
                    position: relative;

                    & audio {
                        width: 512px;
                        height: 40px;
                        position: absolute;
                        bottom: 11px;
                        left: 2px;
                        cursor: pointer;
                    }
                }

                & .nftDescription {
                    max-width: 352px;

                    & h2 {
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 64px;
                        line-height: 64px;
                        letter-spacing: -0.02em;
                        color: #23262F;
                        margin-bottom: 20px;
                        max-width: 352px;
                    }

                    &__items {
                        display: flex;
                        gap: 50px;

                        & .item {
                            display: flex;
                            gap: 8px;
                            align-items: center;

                            &__text {
                                display: flex;
                                flex-direction: column;

                                & p {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 20px;
                                    color: #777E91;
                                }

                                & span {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: #23262F;
                                }
                            }

                        }
                    }

                    & .time {
                        margin-top: 40px;
                        background: #FCFCFD;
                        border: 2px solid #E6E8EC;
                        box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
                        border-radius: 24px;
                        padding: 32px 56px;
                        box-sizing: border-box;

                        & .head {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: center;
                            color: #23262F;
                        }

                        & .eth {
                            font-family: 'DM Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 48px;
                            line-height: 56px;
                            text-align: center;
                            letter-spacing: -0.02em;
                            color: #141416;
                        }

                        & .price {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 32px;
                            text-align: center;
                            color: #777E91;
                            margin-bottom: 24px;
                        }

                        & .timeRemaining {
                            margin-top: 10px;
                            display: flex;
                            gap: 20px;
                            justify-content: center;

                            &__item {
                                & .times {
                                    font-family: 'DM Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 32px;
                                    line-height: 40px;
                                    letter-spacing: -0.01em;
                                    color: #141416;
                                }

                                & span {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 24px;
                                    text-align: center;
                                    color: #777E91;
                                }
                            }
                        }

                    }

                    & .blueLink {
                        margin-top: 40px;
                        display: block;
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 16px;
                        text-align: center;
                        color: #FCFCFD;
                        background: #3772FF;
                        border-radius: 90px;
                        margin-bottom: 8px;
                        padding: 16px 0px;
                    }

                    & .blueLink:hover {
                        background: white;
                        color: #141416;
                        transition: 1s;
                    }

                    & a {
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 16px;
                        text-align: center;
                        color: #23262F;
                        border: 2px solid #E6E8EC;
                        border-radius: 90px;
                        display: block;
                        padding: 16px 0px;
                    }

                    & a:hover {
                        background: #3772FF;
                        transition: 1s;
                        color: #FCFCFD;
                    }

                    & .arrowToggles {
                        display: flex;
                        margin-top: 55px;
                        gap: 15px;

                        & img {
                            cursor: pointer;
                            padding: 13px 11px;
                        }

                        & img:hover {
                            border: 1px solid #E6E8EC;
                            border-radius: 100%;

                        }
                    }
                }
            }

            & .nftCards {
                margin-top: 125px;

                & .top {
                    display: flex;
                    gap: 32px;

                    & .mainCard {
                        & .content {
                            max-width: 448px;
                            margin-top: 24px;
                            display: flex;
                            justify-content: space-between;

                            & .name {
                                display: flex;
                                gap: 16px;
                                align-items: center;

                                & .text {
                                    display: flex;
                                    flex-direction: column;

                                    & p {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 24px;
                                        line-height: 32px;
                                        color: #23262F;
                                    }

                                    & span {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 24px;
                                        color: #353945;
                                    }
                                }
                            }

                            & .price {
                                margin-top: 4px;

                                &__top {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 20px;
                                    color: #777E91;
                                }

                                &__bottom {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 12px;
                                    line-height: 12px;
                                    text-transform: uppercase;
                                    color: #45B36B;
                                    border: 2px solid #45B36B;
                                    border-radius: 4px;
                                    padding: 6px;
                                }
                            }
                        }
                    }

                    & .miniCards {
                        &__card {
                            max-width: 351px;
                            display: flex;
                            gap: 24px;
                            margin-bottom: 32px;


                            &__content {
                                & .headText {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #23262F;
                                    padding-top: 21px;
                                    padding-bottom: 10px;
                                }

                                & .price {

                                    display: flex;
                                    margin-bottom: 20px;

                                    & img {
                                        margin-right: 11px;
                                    }

                                    & p {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 12px;
                                        line-height: 12px;
                                        text-transform: uppercase;
                                        color: #45B36B;
                                        border: 2px solid #45B36B;
                                        border-radius: 4px;
                                        padding: 6px;
                                        margin-right: 11px;
                                    }

                                    & span {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 24px;
                                        color: #777E91;

                                    }



                                }

                                & a {
                                    font-family: 'DM Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 14px;
                                    line-height: 16px;
                                    color: #23262F;
                                    padding: 8px 12px;
                                    border: 2px solid #E6E8EC;
                                    border-radius: 90px;
                                }

                                & a:hover {
                                    transition: 1s;
                                    background: #3772FF;
                                    color: white;
                                }
                            }
                        }

                        & .card--3 {
                            margin-bottom: 0;

                            & .headText {
                                padding-top: 8px;
                            }
                        }
                    }
                }

                & .bottom {
                    margin-top: 64px;

                    & .people {
                        border: none;


                        & p {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 20px;
                            color: #777E91;
                        }

                        & .cards {
                            display: flex;
                            gap: 56px;

                            & .item {
                                margin-top: 20px;
                                border: none;
                                padding-bottom: 24px;
                                display: flex;
                                gap: 16px;
                                align-items: center;
                                max-width: 224px;

                                &__text {
                                    & .namePerson {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 24px;
                                        color: #23262F;
                                        margin-bottom: 5px;
                                    }

                                    & .priceWork {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 12px;
                                        line-height: 20px;
                                        color: #353945;

                                        & span {
                                            font-family: 'Poppins';
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 12px;
                                            line-height: 20px;
                                            color: #777E91;
                                        }
                                    }
                                }
                            }

                            & .item--4 {
                                border: none;
                            }
                        }



                        & a {
                            display: none;
                        }
                    }
                }




            }
        }
    }

    .creatorNetwork {
        display: none;
    }

    .sellers {
        &__wrap {
            & .cardbox {
                display: grid;
                grid-template-columns: repeat(4, 22%);
                gap: 33px;

                &__card:nth-child(4) {
                    display: none;
                }

            }

            & .cardbox::after {
                right: 45%;
                bottom: 20%;
            }

            & .cardbox::before {
                left: 45%;
                bottom: 20%;
            }
        }
    }

    .hotBid {
        &__cardbox {
            &__card {
                max-width: 266px;

                & .bigCard {
                    width: 266px;
                }
            }

            &__card:last-child {
                display: none;
            }
        }
    }

    .hotCollections {
        padding-bottom: 0px;

        & .items {
            gap: 15%;

            &__item:nth-child(3) {
                display: none;
            }
        }
    }

    .filter {
        &__wrap {
            &__nav {
                &__links {
                    & a:last-child {
                        display: none;
                    }

                    & a:nth-child(5) {
                        display: none;
                    }
                }
            }

            &__categories {
                & .category:nth-child(3) {
                    display: none;
                }
            }

            &__cardbox {
                &__card:last-child {
                    display: none;
                }

                &__card:nth-child(7) {
                    display: none;
                }
            }
        }
    }

    .Crypter {
        &__wrap {
            background: url(../img//CrypterTablet.png);
            background-repeat: no-repeat;
            min-height: 416px;
            background-position: right top 80px;
            padding-bottom: 82px;

            &__content {
                padding-top: 112px;

                & h6 {
                    max-width: 416px;
                }
            }
        }
    }

    footer {
        & .footer__wrap {
            &__top {
                display: flex;
                gap: 5%;

                & .category {
                    & .logo {
                        margin-left: 3%;

                        & .logotype {
                            margin-left: 14%;
                        }
                    }

                    & p {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        max-width: 192px;
                        color: #23262F;
                    }

                    & .heading {
                        margin-top: 0;
                    }
                }

                & .category:last-child {
                    margin-left: 2.9%;
                }
            }

            &__bottom {
                display: flex;
                justify-content: space-between;
                gap: 0;
            }
        }
    }
}


@media(max-width:375px) {
    .container {
        max-width: 311px;
    }

    header {
        display: none;
    }

    .headerMobile {
        display: block !important;

        &__wrap {
            display: flex;
            align-items: center;
            padding-top: 48px;
            justify-content: space-between;

            & .logoImg {
                position: absolute;
                left: -74%;
            }

            & .logo {
                display: flex;
                align-items: center;
                position: relative;

            }

            & .logotype:hover {
                color: #23262F;
            }

            & img {
                position: static;
            }

            & .logotype {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.02em;
                color: #23262F;
                display: flex;
                align-items: center;
                border: none;
                margin-left: 41%;
            }
        }
    }

    .creatorNetworkTablet {
        &__wrap {
            & .heading {
                & h1 {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: -0.01em;
                    color: #23262F;
                }
            }

            & .creator {
                display: flex;
                flex-direction: column;
                gap: 32px;

                & .nftImage {
                    & img {
                        width: 311px;
                        height: 478px;
                    }

                    & audio {
                        width: 295px;
                    }
                }

                & .nftDescription {
                    & .arrowToggles {
                        justify-content: center;
                    }
                }


            }

            & .nftCards {
                & .top {
                    & .miniCards {
                        display: none;
                    }

                    & .mainCard {
                        border-bottom: 1px solid #E6E8EC;
                        padding-bottom: 40px;

                        & .image {

                            & img {
                                width: 311px;
                                height: 432px;
                            }
                        }

                        & .content {
                            & .name {
                                & .text {
                                    & p {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: #23262F;
                                    }
                                }
                            }
                        }


                    }
                }

                & .bottom {
                    margin-top: 40px;

                    & .people {
                        border: none;

                        & .cards {

                            & .item {
                                border: none;
                            }

                            & .item:not(:first-child) {
                                display: none;
                            }
                        }
                    }
                }
            }



        }
    }

    .sellers {
        margin-top: 50px;

        &__wrap {
            & .heading {
                padding-top: 64px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 48px;

                &__date::before {
                    content: 'TIMEFRAME';
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 12px;
                    text-transform: uppercase;
                    display: block;
                    color: #B1B5C4;
                    margin-bottom: 12px;
                }
            }

            & .cardbox {
                position: relative;
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 6.5%;
                margin-top: 32px;

                &__card:not(:first-child) {
                    display: none;
                }

                & .card--2 {
                    display: block;
                }
            }

            & .cardbox::before {
                content: '';
                background: url(../img/ArrowLeft.svg);
                height: 10px;
                width: 14px;
                display: block;
                position: absolute;
                bottom: 20%;
                left: 40%;
                top: auto;
            }

            & .cardbox::after {
                content: '';
                background: url(../img/ArrowRight.svg);
                height: 10px;
                width: 14px;
                display: block;
                position: absolute;
                bottom: 20%;
                right: 40%;
                top: auto;
            }
        }
    }

    .hotBid {
        &__cardbox {
            justify-content: center;
            gap: 0;
            padding-bottom: 84px;

            &__card:not(:first-child) {
                display: none;
            }
        }
    }

    .hotCollections {
        h5 {
            padding-top: 64px;
            text-align: center;
        }

        & .items {
            position: relative;
            margin-top: 32px;

            &__item:not(:nth-child(2)) {
                display: none;
            }

            &__item {
                & img {
                    width: 311px;
                }

                & .avatarImg {
                    width: 24px;
                }
            }
        }

        & .items::before {
            content: '';
            background: url(../img/ArrowLeft.svg);
            background-repeat: no-repeat;
            height: 10px;
            width: 15px;
            display: block;
            position: absolute;
            left: 40%;
            bottom: 15%;
        }

        & .items::after {
            content: '';
            background: url(../img/ArrowRight.svg);
            background-repeat: no-repeat;
            height: 10px;
            width: 15px;
            display: block;
            position: absolute;
            right: 40%;
            bottom: 15%;
        }
    }

    .filter {
        padding-bottom: 0;
        border: none;

        &__wrap {
            position: relative;

            & h6 {
                padding-top: 64px;
                padding-bottom: 32px;
            }

            &__nav {
                display: flex;
                flex-direction: column;
                align-items: inherit;

                & details {
                    max-width: 311px;

                }

                &__links {
                    display: none;
                }

                & button {
                    display: flex;
                    justify-content: center;
                    gap: 5px;
                    margin-top: 82px;

                    & img {
                        display: none;
                    }
                }

                & button::before {
                    content: 'Advanced';
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 16px;
                    text-align: center;
                    color: #FCFCFD;

                }
            }

            &__categories {
                & .category:not(:nth-child(2)) {
                    display: none;
                }

                & .category {
                    width: 311px;
                    position: absolute;
                    top: 18%;
                    left: 0%;

                    & p {
                        display: none;
                    }

                    & details {
                        max-width: 311px;


                    }
                }

            }

            &__cardbox {
                display: flex;
                justify-content: center;
                align-items: center;

                &__card:not(:first-child) {
                    display: none;
                }
            }
        }
    }

    .Crypter {
        &__wrap {
            background: url(../img/CrypterTablet.png);
            background-repeat: no-repeat;
            height: 311px;
            width: 311px;
            padding-bottom: 100px;
            background-position: bottom;
            background-size: contain;

            &__content {
                padding-top: 64px;

                & p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 12px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #777E91;
                }

                & h6 {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 56px;
                    text-align: center;
                    letter-spacing: -0.02em;
                    color: #23262F;
                }

                & span {
                    text-align: center;
                }

                & .btn {
                    margin-top: 40px;
                    display: flex;
                    gap: 16px;
                    flex-direction: column;
                    justify-content: center;

                    & a {
                        display: flex;
                        justify-content: center;
                    }

                    & a:last-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    footer {
        border: none;

        & .footer__wrap {
            &__top {
                display: flex;
                flex-direction: column;

                & .category {
                    border-bottom: 1px solid #E6E8EC;
                    padding-bottom: 32px;
                    & .logo {
                        margin-left: 3%;

                        & img {
                            left: -24%;
                        }

                        & .logotype {
                            margin-left: 10%;
                        }
                    }

                    & .heading {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 12px;
                        text-transform: uppercase;
                        color: #23262F;
                        margin-top: 35px;
                    }

                    & .mailInput{
                        & input{
                            padding: 12px 113px 12px 12px;
                        }
                    }
                }

                & .category:last-child{
                    border: none;
                }
            }

            &__bottom{
                display: flex;
                justify-content: center;
                & .right{
                    display: none;
                }
            }
        }
    }
}