
::-webkit-scrollbar {
    width: 0;
    background: #F0F0F4;
  }

  
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}


header{
    background-color: #FFFFFF;
    width: 100%;
}

.header__mobile{
    display: none;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}
.header__left{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header__left__span{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    margin-left: 50px;
}
.header__left__span:first-child{
    margin: 0;
}

.header__left__span:last-child{
    margin: 0;
}
.dress__span{
    margin-right: 5%;
}
.img__logo{
    display: flex;
    align-items: center;
    margin-right: 10%;
}
.img__dress{
    margin-bottom: 1.5%;
}
.header__right{
    margin-top: 55px;
    display: flex;
    padding-right: 1%;
}

.header__right img:not(first-child){
    margin-left: 10px;
}

.item__basket{
    position: relative;
}
.basket__span{
    color: #FFFFFF;
    position: absolute;
    display: flex;
    background: #1C62CD;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    right: -14px;
    top: 8px;
}

main{
    width: 100%;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

.Cycles__nav{
    margin-top: 21px;
    width: 1170px;
    &__wrapper{
        background: #F0F0F4;
        display: flex;
        width: 100%;  
        & div{
            padding: 15px 0 13px 0;
            width: 100%;
            margin-left: 4.3%;
            & a{
                list-style-type: none;
            }
        }
        
        & div:first-child{
            margin: 0;
        }             
    }
}

.Cycles__nav__span{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #2F3035;
}

.Cycles__nav__span:hover{
    font-weight: 600;
    border-bottom: 4px solid #1C62CD;
    padding-bottom: 12px;
    transition: 0.5s;
}


.additionaly__nav__wrap {
    padding-top: 46px;
    & a{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;
    }
    span {
        color: #C4C4C4;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.itemCard {
    padding-top: 44px;
    &__wrap{
        display: flex;
        &__left{
            background-image: url(../img/itemCaRD.png);
            background-repeat: no-repeat;
            background-position: left -20px top 40%;
            width: 100%;
            display: flex;
            flex-direction: column;

            &__btn{
                padding: 13px 26px;
                background: #1C62CD;
                border-radius: 3px;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.12em;
                color: #FFFFFF;
                margin-left: 0;
            }

            &__btn:hover{
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,98,205,1) 0%, rgba(19,63,144,1) 0%);
            }
            & span{
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                color: #000000;
                opacity: 0.6;
                position: relative;
                margin-top: 70%;
                margin-left: 18%;

            }
            & span::before{
                content: "";
                border-bottom: 1px solid #2F3035;
                position: absolute;
                width: 100%;
                height: 50%;
                transform: rotate(-8deg);
            }

            & h3{
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                margin-left: 15%;
                margin-top: 1%;
            }

            &__questionLink{
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: #1C62CD;
                margin-left: 8%;
                margin-top: 1%;
            }



        }

        &__right{
            &__heading{
                font-weight: 700;
                font-size: 30px;
                line-height: 36px;
                color: #2F3035;
                width: 570px;
                margin-left: 0;
                margin-bottom: 3%;
            }
            &__itemCode{
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: #2F3035;
                opacity: 0.6;
                max-width: 154px;
                margin-left: 0;
                margin-top: 5%;
            }
            &__raiting{
                margin-left: 0;
                display: flex;
                margin-top: 7%;
                &__heart{
                    margin: 0;
                }
                &__line{
                    margin-left: 29px;
                    margin-right: 0;
                }
                
                & .starLine{
                    display: flex;
                    margin-left: 5%;
                }
                
                & .star{
                    margin-left: 1%;
                }
            }

            &__itemOptions{
                margin-top: 50px;
                &__options{
                    margin-bottom: 20px;
                    & a{
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: #2F3035;
                        opacity: 0.6;
                        text-decoration: none;
                    }

                    & a:first-child{
                        margin-right: 34px;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: black;
                        opacity: 1;
                        border-bottom: 5px solid #1C62CD;
                        padding: 3px;
                    }
                }

                &__specifications{
                    border-bottom:1px solid #DADADA;
                    padding: 5px;
                    display: flex;
                    justify-content: space-between;
                    max-width: 436px;
                    margin-left: 0;
                    & span{
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 24px;
                        color: #2F3035;
                        margin-left: 0;
                        margin-right: 0;
                    }

                    & .Canada{
                        margin-right: 10%;
                    }

                    & .Number3{
                        margin-right: 23%;
                    }

                    & .Number155{
                        margin-right: 18%;
                    }

                    & .year{
                        margin-right: 15%;
                    }

                    & .petrol{
                        margin-right: 14%;
                    }
                }
                

            }

            &__showLink{
                margin-top: 20px;
                margin-left: 1%;
                & a{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-decoration-line: underline;                    
                    color: #1C62CD;
                }
            }

            &__btn{
                margin-top: 50px;
                margin-left: 1%;
                & a{
                    padding: 16px 53px 17px 53px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    letter-spacing: 0.12em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background: #1C62CD;
                    border-radius: 3px;
                }

            }

            &__btn{
                & a:hover{
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,98,205,1) 0%, rgba(19,63,144,1) 0%);
                }
                
            }

            


        }
    }
}


.itemWork{
    &__wrap{

        &__itemBye{
            background: #F0F0F4;;
            padding: 22px 40px;
            margin-top: 80px;
            display: flex;
            &__item{
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #2F3035;
                opacity: 0.6;
                cursor: pointer;
                transition: 0.5s;
            }
            & span:not(:first-child){
                margin-left: 5%;
            }
        }

        &__shopLocation{
            margin-top: 50px;
            display: flex;
            padding: 0 200px 0 40px;
            justify-content: center;
            align-items: center;
            & span{
                font-weight: 400;
                font-size: 17px;
                line-height: 20px;
                color: #2F3035;
                opacity: 0.7;
                margin:0;
            }
            &__inputBlock{
                position: relative;
                margin-left: 2%;
                &__textEnter{
                    background: #F0F0F4;
                    border-radius: 3px;
                    background-image: url(../img/SearchInput.png);
                    background-repeat: no-repeat;
                    background-position: center right 20px;
                    padding: 10px 14px;
                    border: none;
                    width: 313px;
                }
                &__input-separator{
                    width: 1px;
                    height: 15px;
                    display: block;
                    border-left: 1px solid #C4C4C4;
                    position: absolute;
                    left: 20px;
                    top: 10px;

                }
            }

            & .mobileInput{
                display: none;
            }
            
            & .inputBox{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 0;
                margin-right: 3%;
                &__text{
                    margin-left: 15px;
                }
            }
        }

        &__table{
            margin-top: 50px;
            display: grid;
            grid-template-columns: 25% 20% 15% 20% 20%;
            position: relative;

            &__address{
                margin-left: 15%;
                &__exact{
                    margin-top: 65px;
                }
                &__exact:first-of-type{
                    margin-top: 41px;
                }

                &__exact:nth-child(4){
                    width: 150px;
                    margin-right: 100%; 
                }
                &__exact:last-child{
                    margin-top: 50px;
                }
                
            }

            &__workTime{
                &__days{
                    margin-top: 22%;
                    &__monday-saturday{
                        & span:last-child{
                            margin-left: 21px;
                            margin-top: 40px;
                        }
                    }
                    &__sunday{
                        margin-top: 9px;
                        & span:last-child{
                            margin-left: 46px;
                        }
                    }
                }
            }

            &__availability{
                margin-right: 35%;
                &__text:first-of-type{
                    margin-top: 36px;
                }
                &__text{
                    margin-top: 69px;
                }
            }

            &__amount{
                margin-right: 45%;
                &__textNumber:first-of-type{
                    margin-top: 36px;
                }
                &__textNumber{
                    margin-top: 69px;
                }
            }



            &__buttons{
                margin-left: 40%;
                &__button{
                    margin-top: 59%;
                    & a{
                        padding: 10px 40px;
                        background: #1C62CD;
                        color: #FFFFFF;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 16px;
                        letter-spacing: 0.12em;
                        height: 100%;
                        margin-top: 200px;
                    }
                }

                &__button:hover{
                    & a{
                        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,98,205,1) 0%, rgba(19,63,144,1) 0%);
                    }
                    
                }
                
                
            }

            &__line1{
                width: 96%;
                height: 1px;
                background-color: #2F3035;
                opacity: 0.1;
                position: absolute;
                top: 35%;
                left: 3.5%;
            }

            &__line2{
                width: 96%;
                height: 1px;
                background-color: #2F3035;
                opacity: 0.1;
                position: absolute;
                left: 3.5%;
                top: 57%;
            }

            &__line3{
                width: 96%;
                height: 1px;
                background-color: #2F3035;
                opacity: 0.1;
                position: absolute;
                left: 3.5%;
                top: 80%;
                
            }

            &__line4{
                width: 96%;
                height: 1px;
                background-color: #2F3035;
                opacity: 0.1;
                position: absolute;
                left: 3.5%;
                top: 105%;
            }
        }
        
        & .showLinkMobile{
            display: none;
        }
    }
}


.additionalProducts{
    padding-bottom: 332px;
    padding-top:100px;
    & .absolute__btn{
        &__left{
            position: absolute;
        }
        &__right{
            position: absolute;
        }
    }
    
    &__wrap{
        position: relative;
        & .absolute__btn{
            &__left{
                position: absolute;
                left: -3%;
                margin-top: 25%;
            }
            &__right{
                position: absolute;
                right: -3%;
                margin-top: 25%;
            }
        }

        &__heading{
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            color: #2F3035;
        }
        &__nav{
            margin-top: 25px;
            & a{
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                color: #2F3035;
                margin-left: 50px;
            }
            & a:first-child{
                margin: 0;
            }
            & a:hover{
                border-bottom: 2px solid #1C62CD;
                padding-bottom: 10px;
            }
        }
        &__itembox{
            margin-top: 25px;
            display: flex;
            & article{
                width: 23%;
                height: 403px;
                border: 1px solid #CDCDCD;
                border-radius: 3px;
                margin-left: 2%;
                background-repeat: no-repeat;
                background-position: center top 30%;
                position: relative;
                & .imgHeart{
                    padding: 16px 85%;
                }
                & .overlay{
                    background: #FFFFFF;
                    opacity: 0;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
                    border-radius: 3px;
                    padding: 18px 22px;
                    display: flex;
                    width: 70%;
                    margin-top: 30%;
                    & a{
                        text-decoration: none;
                        color: #2F3035;
                        width: 187px;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        text-align: center;
                    }
                }

                & h3{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    color: #2F3035;
                    width: 200px;
                    padding-top: 25%;
                }
                & span{
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    text-align: center;
                    color: #2F3035;
                    display: flex;
                    margin-top: 7%;
                }
                & .article__link{
                    background: #1C62CD;
                    border-radius: 10px 0px 0px 0px;
                    padding: 10px 16px 7.5px 14px;
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
            & article:first-child{
                margin: 0;
            }

            & article:hover{
                & .overlay{
                    opacity: 0.9;
                    transition: 0.5s;
                }
            }
            &__item1{
                background-image: url(../img/Additional1.png);
                &__toplink{
                    background: #1C62CD;
                    color:#FFFFFF;
                    padding: 6px 15px;
                    position: absolute;
                    top:0;
                    left: 0;
                }
                & .item1__span{
                    width: 117px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    color: #2F3035;
                    margin-bottom: 22px;
                    margin-top: 10px;
                }
                & .item1__link{
                    border-bottom: 1px solid #1C62CD ;
                    background: none;
                    color: #1C62CD;
                    margin-top: 13px;
                    text-align: center;
                    position: static;
                    margin-left: 15%;
                }
            }
            &__item2{
                background-image: url(../img/additional2.png);
                position: relative;
                
                & span{
                    width: 130px;
                }
            }
            &__item3{
                background-image: url(../img/additional3.png);
                &__toplink{
                    background: #1C62CD;
                    color:#FFFFFF;
                    padding: 6px 15px;
                    position: absolute;
                    top:0;
                    left: 0;
                }
                & .item3__span{
                    width: 117px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    color: #2F3035;
                    margin-bottom: 22px;
                    margin-top: 30px;
                }
                & .item3__link{
                    border-bottom: 1px solid #1C62CD ;
                    background: none;
                    color: #1C62CD;
                    margin-top: 13px;
                    text-align: center;
                    position: static;
                    margin-left: 15%;
                }
                & span{
                    width: 130px;
                }
            }
            &__item4{
                background-image: url(../img/Additional\ 4.png);
                position: relative;
                
                & .item4__heading{
                    width: 60%;
                }

                & .item4__price{
                    margin-left: 30%;
                }
                
                
                
            }

    }
}
}



@media (max-width:375px) {
    header{
        width: 100%;
    }
    
    .header__wrap{
        display: none;          
    }
    
    .container{
        max-width: 350px;
    }
    
    .header__mobile{
        margin: 0;
        display: block;
        padding-top: 2%;
        position: relative;
        &__wrap{
            display: flex;
            
        }
        

        &__burgerImg{
            margin-top: 35%;
        }
        

        

        & .burgerMenu{
            z-index: 999;
            margin-top: 3%;
            & .burger{
                width: 100%;
                opacity: 0;
                top: 0;
                position: absolute;
                background: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
                &__wrap{
                    &__item{
                        display: flex;
                        margin-top: 46px;
                        border-bottom:1px solid rgba(0, 0, 0, 0.1);

                        & img{
                            margin:0;
                            margin-left: 10px;
                        }
                        & span{
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 24px;
                            color: #2F3035;
                            margin-left: 23px;
                        }
                    }

                    &__item:nth-child(4){
                        & span{
                            margin-left: 16px;
                        }
                    }

                    

                    &__text{
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        text-transform: capitalize;
                        color: #2F3035;
                        margin-top: 35px;
                        display: block;
                        margin-left: 53px;
                        border-bottom:1px solid rgba(0, 0, 0, 0.1);
                    }

                    & h3{
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #2F3035;
                        max-width: 181px;
                        margin-top: 61px;
                        margin-left: 44px;
                        padding-bottom: 136px;
                    }
                }
            }
        }

        & .burgerCloseBtn{
            position: absolute;
            z-index: 1000;
            right: 1%;
            bottom: -10%;
            opacity: 0;
        }
    
        &__text{
            margin-left: 10%;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            text-transform: capitalize;
            color: #2F3035;
            margin-top: 4%;
        }
        & .header__right{
            margin-top: 4%;
            margin-left: 3%;
            right: 0;
        }
    
    
    }

    .Cycles__nav{
        display: none;
    }

    .additionaly__nav{
        margin-left: 3.5%;
        &__wrap{
            & a:last-child{
                margin-top: 2%;
                display: flex;
                width: 400px;
            }
        }
    }

    .itemCard{
        &__wrap{
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            &__left{
                background-position: left 30% top 20%;
                background-size: 70%;
                &__btn{
                    display: none;
                }

                & span{
                    
                    margin-top: 80%;
                }

                & h3{
                    
                    margin-top: 2%;
                }

                &__questionLink{
                    margin-top: 2%;
                    border-bottom: 1px solid #1C62CD;
                    padding-bottom: 2px;
                }
            }

            &__right{
                margin-left: 3.5%;
                &__heading{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;                 
                    color: #2F3035;
                    max-width: 288px;
                }

                &__raiting{
                    margin-top: 2%;
                }

                &__itemCode{
                    margin-top: 15%;
                    display: block;
                }

                &__itemOptions{
                    display: none;
                }

                &__showLink{
                    display: none;
                }

                

                &__btn{
                    position: absolute;
                    bottom: -12%;
                    left: 5%;
                    & a{
                        padding: 16px 98px;
                    }
                }
            }
        }
    }

    .itemWork{
        &__wrap{
            padding-top: 80px;
            &__itemBye{
                margin-left: 3.5%;
                padding: 0;
                flex-direction: column;
                background: none;

                & span:not(:first-child){
                    margin-left: 0;
                    margin-top: 33px;
                }
                &__item{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    color: #2F3035;
                    margin: 0;
                }

                &__item:hover{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color: #2F3035;
                    border: none;
                }
            }

            &__shopLocation{
                flex-direction: column;
                padding: 0;
                align-items: flex-start;
                & span{
                    margin-left: 3.5%;
                }

                & .mobileInput{
                    display: block;
                    border: 1px solid #F0F0F4;
                    padding: 8px 63px 9px 20px;
                    margin-left: 3.5%;
                    margin-top: 2%;
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: 40px;
                }

                & .mobileInput::-webkit-input-placeholder{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: #C4C4C4;
                    text-overflow: ellipsis;
                }

                &__inputBlock{
                    display: none;
                }
                & .inputBox{
                    display: block;
                    width: 100%;
                    border-bottom: 0.5px solid #C4C4C4;
                    padding-bottom: 8px;
                    position: relative;
                    & input{
                        position: absolute;
                        right: 20%;
                        top: 20%;
                    }           
                }

                & .inputBox:last-child{
                    margin-top: 30px;
                }
            }


            &__table{
                display: block;
                &__address{
                    margin-left: 5%;
                    display: flex;

                    & .tableHeading{
                        margin: 0;
                        
                    }
                    &__exact{
                        display: none;
                    }
                    &__exact:nth-child(2){
                        display: inline;
                        padding: 0;
                        margin: 0;
                        margin-left: 32%;
                    }
                }

                &__workTime{
                    margin-left: 5%;
                    margin-top: 21px;
                    &__days{
                        display: none;
                        &__monday-saturday{
                            & span:last-child{
                                margin-left: 36%;
                            }
                        }

                        &__sunday{
                            & span:last-child{
                                margin-left: 44%;
                            }
                        }
                    }

                    &__days:nth-child(2){
                        display: block;
                        margin-top: 5px;
                    }
                }

                &__availability{
                    display: flex;
                    margin-left: 5%;
                    margin-right: 0;
                    margin-top: 21px;
                    & .tableHeading{
                        margin: 0;
                    }
                    &__text{
                        display: none;
                        margin-top: 0;
                    }

                    &__text:first-of-type{
                        margin-top: 0;
                    }

                    &__text:nth-child(2){
                        display: block;
                    }
                }

                &__amount{
                    display: flex;
                    margin-left: 5%;
                    margin-right: 0;
                    margin-top: 20px;

                    & .tableHeading{
                        margin: 0;
                    }
                    &__textNumber{
                        display: none;
                        margin-top: 0;
                        margin-left: 18%;
                    }

                    &__textNumber:first-of-type{
                        margin-top: 0;
                    }

                    &__textNumber:nth-child(2){
                        display: block;
                    }
                }

                &__buttons{
                    margin-left: 16px;
                    &__button{
                        display: none;
                        margin-top: 15%;
                    }

                    &__button:first-child{
                        display: block;
                        & a{
                            padding: 17px 115px;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                            text-align: center;
                            letter-spacing: 0.12em;
                            text-transform: uppercase;
                        }
                    }
                }

                &__line1{
                    width: 150%;
                    top: 120%;
                }


                &__line2{
                    display: none;
                }

                &__line3{
                    display: none;
                }

                &__line4{
                    display: none;
                }
            }

            & .showLinkMobile{
                display: block;
                margin-top: 30%;
                margin-left: 5%;
                & a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-decoration-line: underline;
                    color: #1C62CD;
                }
                & img{
                    margin-left: 3px;
                }
            }
        }
    }


    .additionalProducts{
        padding-bottom: 600px;
        padding-top: 51px;
        display: block;
        &__wrap{
            & .absolute__btn{
                display: none;
            }

            &__heading{
                text-align: center;
                max-width: 300px;
                line-height: 30px;
            }

            &__nav{
                margin-top: 20px;
                margin-left: 5%;

                & a:nth-child(4){
                    display: none;
                }

                & a:nth-child(5){
                    display: none;
                }

                & a:nth-child(6){
                    display: none;
                }
            }

            &__itembox{
                margin-left: 15%;
                & article{
                    width: 80%;
                }

                & article:not(:first-child){
                    display: none;
                }

                &__item1{
                    & .item1__link{
                        margin-left: 10%;
                    }
                }
            }

            & .additionalProducts__wrap__buttonMobile{
                margin-left: 9%;
                margin-top: 35px;
                padding: 17px 43px 15px 43px;
                display: flex;
                justify-content: center;
                width: 50%;
                background: #F0F0F4;
                
                
                & a{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    text-align: center;
                    letter-spacing: 0.12em;
                    text-transform: uppercase;
                    color: #2F3035;             
                }
                
                }

            & .switchCirclesMobile{
                display: flex;
                margin-top: 20px;
                margin-left: 30%;
                &__circle{
                    border-radius: 100%;
                    background-color: #c4c4c4;
                    height: 14px;
                    width: 14px;
                    margin-left: 20px;
                    margin-right: 0;
                }
                &__circle:hover{
                    background-color: #1C62CD;
                    transition: 1s;
                } 
        }

        


    }





    }

    footer{
        background:none;
        & .footer__wrap{
            display: flex;
            flex-direction: column;
            & .footer__content__left{
                margin: 0;
                background: #F9F9FC;
                padding-bottom: 0;
                & h3{
                    text-align: center;
                    padding-right: 0;
                }

                & form{
                    padding: 0 15px;
                    & input::placeholder{
                        color:#C4C4C4;
                    }
                    & .mailInput{
                        padding: 8px 30px 8px 12px;
                    }
                    & .mailLink{
                        font-weight: 400;
                        padding-left: 10px;
                    }
                }
            }

            & .footer__content__ulLeft{
                background: #F9F9FC;
                margin: 0;
                & .footer__left__list{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #7F7F7F;
                    padding-left: 16px;
                    border-top: 2px solid #F0F0F4;
                    padding-top: 16px;
                    border-bottom: 2px solid #F0F0F4;
                    padding-bottom: 16px;
                    margin-top: 41px;
                    

                    & .footer__left__link{
                        display: none;
                    }
                }

                & .footer__left__list::after{
                    content: '';
                    background-image: url(../img/Back.svg);
                    width: 10px;
                    height: 15px;
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-left: 63%;
                    
                }

                & .footer__left__span{
                    margin: 0;
                    position: absolute;
                    bottom: 15%;
                    left: 5%;
                }
            }

            & .footer__content__ulRight{
                background: #F9F9FC;
                margin: 0;
                & .footer__right__list{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #7F7F7F;
                    padding-top: 0;
                    padding-left: 16px;
                    margin-top: 16px;
                    border-bottom: 2px solid #F0F0F4;
                    padding-bottom: 16px;

                    & .footer__right__link{
                        display: none;
                    }

                }

                & .footer__right__list::after{
                    content: '';
                    background-image: url(../img/Back.svg);
                    width: 10px;
                    height: 15px;
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-left: 52%;
                    
                }

                & .footer__right__span{
                    margin: 0;
                    position: absolute;
                    bottom: 10%;
                    left: 5%;
                }
            }

            & .footer__content__right{
                padding: 47px 0 189px 0;
            }
        }
        
    }






}









